<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
	<footer class="footer">
		<div class="d-flex flex-column">
		
			<div class="footer-list">
			
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4"><img onclick="gohome();" class="divBtn footer-logo" src="/img/logo.png" alt=""/></div>
					<div class="col-md-4"></div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-4"></div>
					<div class="text-17 col-md-4"><b>Contact us</b></div>
					<div class="col-md-4"></div>
				</div>
				<div class="row" style="margin-top: 5px;">
					<div class="col-md-1"></div>
					<div class="col-md-3">
						<div class="contact-head">PHONE</div>
						<div class="contact-body">010-0000-0000</div>
					</div>
					<div class="col-md-4">
						<div class="contact-head">ADDRESS</div>
						<div class="contact-body">부산광역시 중구</div>
					</div>
					<div class="col-md-3">
						<div class="contact-head">E-MAIL</div>
						<div class="contact-body">cherrypick@cherrypick.co.kr</div>
					</div>
					<div class="col-md-1"></div>
				</div>
				<div class="row">&nbsp;
				</div>
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">Copyright 2022 Java SW team.<br>
						All rights reserved.	</div>
					<div class="col-md-4"></div>
				</div>
			</div>
				
		</div>
		
	</footer>

</div>

</html>
