<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout-admin}">

<!-- <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CherryPick</title>
</head> -->

<!-- <body> -->

	<div class="content" layout:fragment="content">


		<!-- ==========회원관리=========== -->
		<div class="container" id="memberManage">

			<h3>회원관리</h3>
			<div class="d-flex justify-content-between">

				<!-- 회원관리 - 라디오 버튼 -->
				<div class="d-flex">
<!-- 					<div class="form-check">
						<input class="form-check-input" type="radio" name="memberRadio"
							id="all" value="all"> <label class="form-check-label"
							for="flexRadioDefault0"> 전체 </label>
					</div> -->
					<div class="form-check">
						<input class="form-check-input" type="radio" name="memberRadio"
							id="member" value="member" checked="checked"> <label class="form-check-label"
							for="flexRadioDefault1"> 일반회원 </label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="memberRadio"
							id="biz" value="biz"> <label class="form-check-label"
							for="flexRadioDefault2"> 사업자회원 </label>
					</div>
				</div>

				<!-- 회원관리 - 정렬 탭 -->
				<div class="d-flex">
					<div>번호순 | 이름순</div>
				</div>
			</div>

			<!-- 회원관리 테이블 -->
			<div class="table-responsive">
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th scope="col"><input class="form-check-input mt-0" name="memChkAll" type="checkbox" value=""></th>
							<th scope="col">순번</th>
							<th scope="col">아이디</th>
							<th scope="col">성명</th>
							<th scope="col">전화번호</th>
							<th scope="col">이메일</th>
							<th scope="col">회원분류</th>
						</tr>
					</thead>
					<tbody id="htmls">

<!-- 						<tr th:each="mList, index : ${mList}">
							<td><input class="form-check-input mt-0" name="memChk"
								type="checkbox" value=""></td>
							<td th:text="${index.index + 1}"></td>
							<td th:text="${mList.username}"></td>
							<td th:text="${mList.name}">random</td>
							<td th:text="${mList.phone}">data</td>
							<td th:text="${mList.email}">placeholder</td>

							<td th:if="${mList.role}!=0 and ${mList.role}!=1">사업자</td>
							<td th:if="${mList.role}==0">회원</td>
							<td th:if="${mList.role}==1">관리자</td>

						</tr> -->

					</tbody>
				</table>
			</div>
			<Button class="btn btn-danger" id="signOutBtn">선택 탈퇴</Button>
		</div>


		<!-- 사업장(카페)관리 테이블 -->
		<div id="cafeManage" class="container">
			<h3>사업장관리</h3>


			<div class="d-flex justify-content-between">
				<div class="d-flex">

					<div class="form-check">
						<input class="form-check-input" type="radio" name="cafeRadio"
							id="waiting"> <label class="form-check-label"
							for="flexRadioDefault1"> 승인대기 </label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="cafeRadio"
							id="approved" checked> <label class="form-check-label"
							for="flexRadioDefault2"> 등록됨 </label>
					</div>
				</div>
				<div class="d-flex">
					<div>번호순 | 업체명순</div>
				</div>
			</div>


			<div id="approvedTable">
				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th scope="col"><input class="form-check-input mt-0"
								name="aCafeChkAll" type="checkbox" value="">
								</th>
								<th scope="col">순번</th>
								<th scope="col">카페명</th>
								<th scope="col">대표번호</th>
								<th scope="col">이메일</th>
								<th scope="col">[자세히]</th>
								<th scope="col">[]</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="m : ${#numbers.sequence(1, 5)}">
								<td><input class="form-check-input mt-0" name="aCafeChk"
								type="checkbox" value=""></td>
								<td>1,001</td>
								<td>random</td>
								<td>data</td>
								<td>placeholder</td>
								<td></td>
								<td>X</td>
							</tr>
						</tbody>
					</table>
				</div>
				<Button class="btn btn-danger">선택 삭제</Button>
			</div>

			<div id="waitingTable">
				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th scope="col"><input class="form-check-input mt-0"
								name="wCafeChkAll" type="checkbox" value="">
								</th>
								<th scope="col">순번</th>
								<th scope="col">카페명</th>
								<th scope="col">대표번호</th>
								<th scope="col">이메일</th>
								<th scope="col">[자세히]</th>
								<th scope="col">[]</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="m : ${#numbers.sequence(1, 5)}">
								<td><input class="form-check-input mt-0" name="wCafeChk"
								type="checkbox" value=""></td>
								<td>1,001</td>
								<td>random</td>
								<td>data</td>
								<td>placeholder</td>
								<td></td>
								<td>V</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
			<Button class="btn btn-primary">선택 승인</Button>
		</div>


		<script type="text/javascript">
			//체크박스 전체 선택
			$('input[name=memChkAll]').on('change', function() {
				$('input[name=memChk]').prop('checked', this.checked);
			});
			
			$('input[name=aCafeChkAll]').on('change', function() {
				$('input[name=aCafeChk]').prop('checked', this.checked);
			});
			
			$('input[name=wCafeChkAll]').on('change', function() {
				$('input[name=wCafeChk]').prop('checked', this.checked);
			});

			//회원관리 /사업장 관리 선택
			var mem = document.getElementById("memberManage");
			var cafe = document.getElementById("cafeManage");

			mem.style.display = 'block';
			cafe.style.display = 'none';

			var bDisplay = true;

			function displayMemTable() {
				mem.style.display = 'block';
				cafe.style.display = 'none';
			}

			function displaycafeTable() {
				cafe.style.display = 'block';
				mem.style.display = 'none';
			}

			function displayMemTable() {
				mem.style.display = 'block';
				cafe.style.display = 'none';
			}

			function displayCafeTable() {
				cafe.style.display = 'block';
				mem.style.display = 'none';
			}

			
			//사업장 - 변수
			var opt = 0;
			
			function display(){
				switch (opt) {
				case 0:
					wTbl.style.display = 'block';
					aTbl.style.display = 'none';
					break;
				case 1:
					wTbl.style.display = 'none';
					aTbl.style.display = 'block';
					break;
				}	
			} 
			
			
			//사업장 - 라디오 버튼			
			var wTbl = document.getElementById("watingTable");
			var aTbl = document.getElementById("approvedTable");
			var cafeMod = document.getElementsByName("cafeRadio");
			
			wTbl.style.display = 'none';
			aTbl.style.display = 'block';
			
			for (i = 0; i < cafeMod.length; i++) {
				cafeMod[i].addEventListener('click', function() {

					console.log('function ON');
					console.log(typeof (this));
					console.log(this.id);

					switch (this.id) {
					case "waiting":
						wTbl.style.display = 'block';
						aTbl.style.display = 'none';
						break;
					case "approved":
						wTbl.style.display = 'none';
						aTbl.style.display = 'block';
						break;
					}
				});
			}
		</script>
	</div>
<!-- </body> -->
</html>










