<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout-main}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CherryPick</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
</head>

<body>
	<!-- 부트스트랩 클래스 : container, btn, btn-outnline, container, row, col-md-4, ... -->

	<div layout:fragment="content">

		<div class="content container">
		
			<form>
			
 				<input type="hidden" id="username" th:value="${#authentication.principal.username}">
				<input type="hidden" id="cno" th:value="${cno}"> 
				
				<input type="text" id="title" class="form-control form-control" placeholder="제목을 작성해주세요."><br>
		    	<div id="content"></div><br>
		    	
		    	<div style="width:200px;">
		    		<h5>만족도</h5>
			    	<input type="range" class="form-control-range" id="score"  value="0" min="0" max="5" step="0.5" oninput="document.getElementById('value1').innerHTML=this.value;">
			    	<span id="value1">0</span>점<br><br>
		    	</div>
		    	
		    	<div>
		    		<h5>웨이팅(분)</h5><br>
					<select class="selectpicker" id="waiting">
					    <option>10</option> <!-- 10분 -->
					    <option>20</option><!-- 10~20분 -->
					    <option>30</option><!-- 20~30분 -->
					    <option>40</option><!-- 30~40분 -->
					   	<option>50</option><!-- 40~50분 -->
					    <option>60</option><!-- 50~60분 -->
				 	</select><br><br>
				</div>
				
	    	</form>
	    	
	    	<button type="button" id="reviewWriteBtn">작성하기</button>
	    	
	    </div>
	    
	    <script>
	      $('#content').summernote({
	        placeholder: '내용을 입력해주세요.',
	        tabsize: 2,
	        height: 100
	      });
	    </script>

	
	</div>


</body>
</html>
	