<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout-main}">
<head>
<meta charset="UTF-8">
<title>CherryPick</title>
	<script type="text/javascript">
	    $(document).ready(function() {
	    	alert("이메일이 가입시 입력한 이메일과 일치하지 않습니다.");
	    	history.back();
	    });
	</script>
</head>
<body>
	<div class="content loginpage text-center container" layout:fragment="content">
		<main class="form-signin w-100 m-auto">
			<input type="hidden" th:value="${result}" id="result">
		</main>
	</div>
	
</body>
</html>