
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout-main}">



<body>
	<div class="content container" layout:fragment="content">
		<div class="text-large">회원가입</div>

		<div class="join-option">
			<img src="/img/logo-pink.png" alt="" width="150">

			<div class="opt" id="memberopt" onclick="displayMemFrm()">
				<div>
					&nbsp;<img src="/img/coffee.png" height="36px"> | 일반회원으로 가입하기
					>>
				</div>
			</div>
			<div class="opt" id="bizmemberopt" onclick="displayBizFrm()">
				<div>
					&nbsp;<img src="/img/cafe.png" height="30px"> | 사업자 회원으로 가입하기
					>>
				</div>
			</div>
		</div>


		<!-- ===========일반회원 가입 폼=========== -->

		<div id="memberJoin" class="input-form-backgroud row">
			<hr>

			<div class="text-large">회원가입 - 일반회원</div>
			<div class="input-form col-md-12 mx-auto">

				<form class="validation-form" id="frm" novalidate
					action="/auth/joinProc" method="post">
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="name">아이디</label> 
							<input type="text" oninput="alertIdLength('alertId', 'username')"
								class="form-control" id="username" placeholder="" value=""
								required>
							<!-- 8~15자 조건 벗어나면 빨간색으로, 조건 충족하면 display='none'-->
							<label id="alertId" class="alertId" for="name">8~15자를 입력해주세요.</label>
							<div class="invalid-feedback">아이디를 입력해주세요.</div>
						</div>
						<div class="col-md-6 mb-3">
							<button type="button" class="btn btn-primary" id="mUsernameCheckBtn">중복확인</button>
						</div>
					</div>

					<div class="col-md-6 mb-3">
						<label for="password">비밀번호</label> <input type="password"
							class="form-control" id="password" placeholder="" value=""
							required>
						<div class="invalid-feedback">비밀번호를 입력해주세요.</div>
					</div>
					<div class="col-md-6 mb-3">
						<label for="password">비밀번호 확인</label> <input type="password"
							class="form-control" id="pwdchk" placeholder="" value="" required>
						<div class="invalid-feedback">비밀번호 확인</div>
					</div>


					<div class="col-md-6 mb-3">
						<label for="name">이름</label> <input type="text"
							class="form-control" id="name" placeholder="" value="" required>
						<div class="invalid-feedback">이름을 입력해주세요.</div>
					</div>

					<div class="mb-3">
						<label for="email">전화번호</label> <input type="text"
							class="form-control" id="phone" placeholder="010-000-0000"
							required>
						<div class="invalid-feedback">전화번호를 입력해 주세요.</div>
					</div>

					<div class="mb-3">
						<label for="email">이메일</label> <input type="email"
							class="form-control" id="email" placeholder="cherrypick@example.com"
							required>
						<div class="invalid-feedback">이메일을 입력해주세요.</div>
					</div>

					<hr class="mb-4">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="agreement"
							required> <label class="custom-control-label"
							for="agreement">개인정보 수집 및 이용에 동의합니다.</label>
					</div>
					<div class="mb-4"></div>
				</form>

				<button class="btn btn-primary btn-lg btn-block" id="btn-save">
					가입 완료</button>
			</div>
		</div>


		<!-- ===========사업자회원 가입 폼=========== -->

		<div id="bizMemberJoin" class="input-form-backgroud row">
			<hr>
			<div class="text-large">회원가입 - 사업자회원</div>
			<div class="input-form col-md-12 mx-auto">

				<form class="validation-form" id="bizFrm" novalidate
					action="/auth/joinProc" method="post">
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="name">아이디</label> <input type="text" 
								oninput="alertIdLength('bAlertId', 'bUsername')"
								class="form-control" id="bUsername" placeholder="" value=""
								required>
							<!-- 8~15자 조건 벗어나면 빨간색으로, 조건 충족하면 display='none'-->
							<label id="bAlertId" class="alertId" for="name">8~15자를 입력해주세요.</label>
							<div class="invalid-feedback">아이디를 입력해주세요.</div>
						</div>
						<div class="col-md-6 mb-3">
							<button type="button" class="btn btn-primary" id="bUsernameCheckBtn">중복확인</button>
						</div>
					</div>

					<div class="col-md-6 mb-3">
						<label for="password">비밀번호</label> <input type="password"
							class="form-control" id="bPassword" placeholder="" value=""
							required>
						<div class="invalid-feedback">비밀번호를 입력해주세요.</div>
					</div>
					<div class="col-md-6 mb-3">
						<label for="password">비밀번호 확인</label> <input type="password"
							class="form-control" id="bPwdchk" placeholder="" value="" required>
						<div class="invalid-feedback">비밀번호 확인</div>
					</div>


					<div class="col-md-6 mb-3">
						<label for="name">이름</label> <input type="text"
							class="form-control" id="bName" placeholder="" value="" required>
						<div class="invalid-feedback">이름을 입력해주세요.</div>
					</div>

					<div class="mb-3">
						<label for="email">전화번호</label> <input type="text"
							class="form-control" id="bPhone" placeholder="010-000-0000"
							required>
						<div class="invalid-feedback">전화번호를 입력해 주세요.</div>
					</div>

					<div class="mb-3">
						<label for="email">이메일</label> <input type="email"
							class="form-control" id="bEmail" placeholder="cherrypick@example.com"
							required>
						<div class="invalid-feedback">이메일을 입력해주세요.</div>
					</div>

					<hr class="mb-4">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="bAgreement"
							required> <label class="custom-control-label"
							for="bAgreement">개인정보 수집 및 이용에 동의합니다.</label>
					</div>
					<div class="mb-4"></div>
				</form>

				<button class="btn btn-primary btn-lg btn-block" id="btn-save">
					가입 완료</button>
			</div>
		</div>


		<!-- ===========입력폼 화면 표시 스크립트=========== -->


		<script type="text/javascript">
		 	document.getElementById("alertId").style.display = 'none';
		 	document.getElementById("bAlertId").style.display = 'none';

			var mem = document.getElementById("memberJoin");
			var biz = document.getElementById("bizMemberJoin");
			
			mem.style.display = 'none';
			biz.style.display = 'none';
			
			function alertIdLength(alert, input){
				var alert = document.getElementById(alert);
				var input = document.getElementById(input);
				
				var len = $(input).val().length;
				if(len<8 || len>15)
					alert.style.display = 'block';
				else
					alert.style.display = 'none';
		    }
			
			
			var bDisplay = true;
						
			function displayMemFrm() {
				if (mem.style.display == 'none') {
					mem.style.display = 'block';
				} else {
					mem.style.display = 'none';
				}
				biz.style.display = 'none';
			}
			
			function displayBizFrm() {
				if (biz.style.display == 'none') {
					biz.style.display = 'block';
				} else {
					biz.style.display = 'none';
				}
				mem.style.display = 'none';
			}
			
		</script>

	</div>

</body>
</html>
