
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout-main}">


<head>
<meta charset="utf-8">

<title>CherryPick-Login</title>

</head>
<body>
	<div class="content loginpage text-center container" layout:fragment="content">

		<main class="form-signin w-100 m-auto">
			<img src="/img/logo-pink.png" alt="" width="150">
			<form action="/auth/loginProc" method="POST">

				<div class="form-floating">
					<input type="text" class="form-control" placeholder="아이디를 입력해주세요." name="username"> 
					<label for="floatingInput">아이디를 입력해주세요.</label>
				</div>
				<div class="form-floating">
					<input type="password" class="form-control" placeholder="비밀번호를 입력해주세요." name="password"> 
					<label for="floatingPassword">비밀번호를 입력해주세요.</label>
				</div>

				<div class="checkbox mb-3">
					<label> 
						<input type="checkbox" value="remember-me"> Remember me
					</label>
				</div>
				<div class="alert">로그인 실패시 알림 메시지</div>
				<button class="loginbtn w-100 btn btn-lg" id="btn-login">로그인</button>
			</form>


			<div class="loginpage-option">
				<div>
					<a href="/auth/findUsernameForm">아이디 찾기</a>
					&nbsp;
					<a href="/auth/findPasswordForm">비밀번호 찾기</a>
				</div>
				<div>
					<a href="/auth/joinForm">- CherryPick이 처음이신가요? [회원가입]</a>
				</div>
				<br>
			</div>
			<div>[SNS 로그인]</div>
			<img src="https://t1.daumcdn.net/cfile/tistory/99580C465C3D7D130C" width="300px">
			<p class="mt-5 mb-3 text-muted">&copy; Copyright 2022 CherryPick</p>


			<p>
				*ID찾기, PWD찾기는 일단 로그인 화면과 같은 구조로 만들었습니다.<br>소스파일에서 주석처리를 해제하면 확인하실 수 있습니다.
			</p>

			<!-- 
			<h3>ID찾기 영역</h3>	
			<form>
				<div class="form-floating">
					<input type="email" class="form-control"
						placeholder="아이디를 입력해주세요."> <label for="floatingInput">아이디를 입력해주세요.</label>
				</div>
				
				<div> 이메일 주소를 입력해 주세요.<br>입력한 이메일 주소로 아이디가 전송됩니다.</div>
				<button class="loginbtn w-100 btn btn-lg" type="submit">ID찾기</button>
				
			</form>
			
			<h3>PWD찾기 영역</h3>
			<form>
				<div class="form-floating">
					<input type="email" class="form-control"
						placeholder="아이디를 입력하세요."> <label for="floatingInput">Email
						address</label>
				</div>
				<div class="form-floating">
					<input type="email" class="form-control"
						placeholder="name@example.com"> <label for="floatingInput">Email
						address</label>
				</div>
				
				<div> 아이디와 이메일 주소를 입력해 주세요.<br>입력한 이메일 주소로 비밀번호가 전송됩니다.</div>
				<button class="loginbtn w-100 btn btn-lg" type="submit">PW찾기</button>
				
			</form>
			
			  -->

		</main>


	</div>
	
</body>
</html>
