
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{./layout/layout-main}">



<body>
	<div class="content container" layout:fragment="content">

		<div id="memberEditFrm" class="input-form-backgroud row">
			<hr>

			<div class="input-form col-md-12 mx-auto">

				<form class="validation-form" id="frm" novalidate action="#" method="post">
				<!-- <input type="hidden" th:value="${#authentication.principal.password}" id="passwordTest"> -->
					<div class="row">
						<div class="col-md-6 mb-3">
							<b th:text="${#authentication.principal.username}">username</b>님의 회원정보 변경
						</div>
					</div>

					<div class="col-md-6 mb-3">
						<label for="password">신규 비밀번호</label> 
						<input type="password" class="form-control" id="password" placeholder="" value="" required>
						<div class="invalid-feedback">비밀번호를 입력해주세요.</div>
					</div>
					<div class="col-md-6 mb-3">
						<label for="password">신규 비밀번호 확인</label> 
						<input type="password" class="form-control" id="pwdChk" placeholder="" value="" required>
						<div class="invalid-feedback">비밀번호 확인</div>
					</div>


					<div class="col-md-6 mb-3">
					<!-- th:value="${#authentication.principal.name}"  -->
						<label for="name">이름</label> <input type="text" class="form-control" id="name" placeholder="" th:value="${member.name}" required>
						<div class="invalid-feedback">이름을 입력해주세요.</div>
					</div>

					<div class="mb-3">
						<label for="email">전화번호</label> <input type="text" class="form-control" id="phone" placeholder="010-000-0000" th:value="${member.phone}" required>
						<div class="invalid-feedback">전화번호를 입력해 주세요.</div>
					</div>

					<div class="mb-3">
						<label for="email">이메일</label> <input type="email" class="form-control" id="email" placeholder="cherrypick@example.com" th:value="${member.email}" required>
						<div class="invalid-feedback">이메일을 입력해주세요.</div>
					</div>

					<hr class="mb-4">
					<div class="mb-4"></div>
					<input type="hidden" id="username" th:value="${#authentication.principal.username}" />
					<input type="hidden" id="dbPassword" th:value="${#authentication.principal.password}" />
				</form>

				<button class="btn btn-primary btn-lg btn-block" id="updateMemberBtn">수정 완료</button>
				<a th:href="@{withdrawal}"><button type="button" class="btn btn-primary btn-lg btn-block" id="withdrawalBtn">회원 탈퇴</button></a>
			</div>
		</div>
	</div>

</body>
</html>
				