<!-- 더보기 기능은 레코드 갯수가 10개 미만일 때만 보이도록 하고, 이상일 때는 페이징 처리로 구현하기 -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout-main}">

<head>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</head>

<body>
	<!-- 부트스트랩 클래스 : container, btn, btn-outnline, container, row, col-md-4, ... -->


	<div class="content" layout:fragment="content">

		<!-- 상단바 -->
		<div class="d-flex align-items-center row">
			<div class="d-flex justify-content-between align-items-center">
				<div class="d-flex">
					<div>&nbsp;&nbsp;&nbsp;</div>
					<img class="back-icon" src="../img/back.png" onclick="goBack();">
					<div>&nbsp;&nbsp;&nbsp;</div>
					<div class="text-20">새 리스트 만들기</div>
				</div>

				<div class="d-flex justify-content-end" style="text-align: right">
					<div class="d-flex">

						<div>
							<div>
								<b th:text="${#authentication.principal.username}">username님</b>
							</div>
							<div>email@naver.com</div>
							<!-- <div th:text="${member.email}">email@naver.com</div> -->
						</div>
						<div>&nbsp;&nbsp;&nbsp;</div>
						<div>&nbsp;&nbsp;&nbsp;</div>
						<div id="menuBtn" class="divBtn">
							<img class="icon-30" src="../img/menu.png">
						</div>
						<div>&nbsp;&nbsp;&nbsp;</div>
						<div>&nbsp;&nbsp;&nbsp;</div>
						<!-- 메뉴버튼 액션은 하단의 script 태그에 -->
					</div>
					<!-- <a id="mEdit" href="/member/checkPwdForEdit"><img class="icon-20" src="../img/edit.png"></a> -->
				</div>
			</div>
		</div>
		<hr>

		<!-- 본문 -->
		<div class="container">
			<div class="row">
				<div class="col-md-2 divBtn">
					<img id="pickBtn" src="/img/ready.png" class="img-thumbnail">
				</div>
				<!-- 
				<div class="col-md-2">
					<img src="/img/ready.png" class="img-thumbnail">
				</div>
				<div class="col-md-2">
					<img src="/img/ready.png" class="img-thumbnail">
				</div>
				<div class="col-md-2">
					<img src="/img/ready.png" class="img-thumbnail">
				</div>
				<div class="col-md-2">
					<img src="/img/ready.png" class="img-thumbnail">
				</div>
				 -->

			</div>
			
			<div class="margin-top-40"></div>


			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">cname</th>
						<th scope="col">caddress</th>
						<th scope="col">ctag</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>#mdo</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>#twitter</td>
					</tr>
					<tr>
						<th scope="row">4</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>#twitter</td>
					</tr>
					<tr>
						<th scope="row">5</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
				</tbody>
			</table>
		</div>


		<!-- 카페 추가 모달 -->
		<div id="pickModal" class="modal fade modal-item">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">카페 추가</h5>
						<button type="button" data-bs-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body d-flex flex-column align-items-center">

						<div>아무 글이나 입력하세요.</div>
						<div class="input-group mb-3">
							<input type="text" class="form-control"
								aria-label="Amount (to the nearest dollar)">
							<div class="input-group-append">
								<span class="divBtn input-group-text" onclick=""><b>확인</b></span>
							</div>
						</div>
						
						<!-- 확인을 누르면 표시되도록 -->
						
						<table class="table">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">cname</th>
											<th scope="col">caddress</th>
											<th scope="col">ctag</th>
											<th scope="col"></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">1</th>
											<td>Mark</td>
											<td>Otto</td>
											<td>#mdo</td>
											<td><img class="divBtn icon-20" src="/img/check.png"></td>
										</tr>
									</tbody>
								</table>

					</div>
				</div>
			</div>
		</div>



		<!-- 이 팝업안에서 카페명 search는 text input만 만들어놓고 기능은 이후 추가
하단에 출력한 내가만든리스트에는 수정 링크or버튼으로 update form으로 이동 (이때 새창 or 페이지이동은 자율), 삭제버튼  -->
		
		<!-- 모달 영역 -->
		<div id="menuModal" class="modal fade modal-item">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">회원 메뉴</h5>
						<button type="button" data-bs-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body d-flex flex-column align-items-center">


						<div>
							<a id="mEdit" href="/member/checkPwdForEdit">회원정보 수정</a>
						</div>
						<div>
							<a href="/member/myPage">나의 CherryPick</a>
						</div>
						<div class="divBtn">
							
						</div>

					</div>
				</div>
			</div>
		</div>
		
		
		
		<script>
			$('#menuBtn').on('click', function() {
				$('#menuModal').modal('show');
			});
			
			$('#pickBtn').on('click', function() {
				$('#pickModal').modal('show');
			});
		</script>
		


	</div>
</body>
</html>










