<!-- 더보기 기능은 레코드 갯수가 10개 미만일 때만 보이도록 하고, 이상일 때는 페이징 처리로 구현하기 -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{./layout/layout-main}">

<head>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</head>

<body>
	<!-- 부트스트랩 클래스 : container, btn, btn-outnline, container, row, col-md-4, ... -->


	<div class="content" layout:fragment="content">

		<!-- 상단바 -->
		<div class="d-flex align-items-center row">
			<div class="d-flex justify-content-between align-items-center">
				<div class="d-flex">
					<div>&nbsp;&nbsp;&nbsp;</div>
					<img class="back-icon" src="../img/back.png" onclick="goBack();">
					<div>&nbsp;&nbsp;&nbsp;</div>
					<div class="divBtn text-20">새 리스트 만들기</div>
				</div>

				<div class="d-flex justify-content-end" style="text-align: right">
					<div class="d-flex">

						<div>
							<div>
								<b th:text="${#authentication.principal.username}">username</b>
							</div>
							<div th:text="${member.email}">email@naver.com</div>
							<!--  -->
						</div>
						<div>&nbsp;&nbsp;&nbsp;</div>
						<div>&nbsp;&nbsp;&nbsp;</div>
						<div id="menuBtn" class="divBtn">
							<img class="icon-30" src="../img/menu.png">
						</div>
						<div>&nbsp;&nbsp;&nbsp;</div>
						<div>&nbsp;&nbsp;&nbsp;</div>
						<!-- 메뉴버튼 액션은 하단의 script 태그에 -->
					</div>
					<!-- <a id="mEdit" href="/member/checkPwdForEdit"><img class="icon-20" src="../img/edit.png"></a> -->
				</div>
			</div>
		</div>
		<hr>

		<!-- 본문 -->
		<div class="container d-flex flex-column align-items-center">
			<label class="text-20">리스트 이름</label> <input id="liname" type="text" placeholder="리스트의 이름을 입력해 주세요."
				style="padding: 3px; border: 1px solid #ccc; border-radius: 5px; min-width: 400px;"> 
				<div style="display:none;">
				<input id="username" type="hidden" th:value="${#authentication.principal.username}">
				<input class="cno" type="text"> <input class="cno" type="text"> <input class="cno" type="text"> <input class="cno" type="text"> <input class="cno" type="text">
				</div>
			<div class="margin-top-40"></div>
			<div class="gray">썸네일을 클릭해 카페를 추가합니다.</div>
			<div class="margin-top-10"></div>
			<div class="row align-items-center">
				<div class="col-md-1"></div>
				<div class="col-md-2 divBtn">
					<img src="/img/ready.png" onclick="selectModal(0)"
						class="hoverimg img-thumbnail">
				</div>

				<div class="col-md-2">
					<img src="/img/ready.png" onclick="selectModal(1)"
						class="hoverimg img-thumbnail">
				</div>
				<div class="col-md-2">
					<img src="/img/ready.png" onclick="selectModal(2)"
						class="hoverimg img-thumbnail">
				</div>
				<div class="col-md-2">
					<img src="/img/ready.png" onclick="selectModal(3)"
						class="hoverimg img-thumbnail">
				</div>
				<div class="col-md-2">
					<img src="/img/ready.png" onclick="selectModal(4)"
						class="hoverimg img-thumbnail">
				</div>
				<div class="col-md-1"></div>

			</div>

			<div class="margin-top-40"></div>


			<table class="table" style="text-align:center;">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">cname</th>
						<th scope="col">caddress</th>
						<th scope="col">ctag</th>
					</tr>
				</thead>
				<tbody>
					<tr class="resultRow">
						<th scope="row">1</th>
						<td class="rCname"></td>
						<td class="rCaddress"></td>
						<td class="rCtag"></td>
					</tr>
					<tr class="resultRow">
						<th scope="row">2</th>
						<td class="rCname"></td>
						<td class="rCaddress"></td>
						<td class="rCtag"></td>
					</tr>
					<tr class="resultRow">
						<th scope="row">3</th>
						<td class="rCname"></td>
						<td class="rCaddress"></td>
						<td class="rCtag"></td>
					</tr>
					<tr class="resultRow">
						<th scope="row">4</th>
						<td class="rCname"></td>
						<td class="rCaddress"></td>
						<td class="rCtag"></td>
					</tr>
					<tr class="resultRow">
						<th scope="row">5</th>
						<td class="rCname"></td>
						<td class="rCaddress"></td>
						<td class="rCtag"></td>
					</tr>
				</tbody>
			</table>
			<Button id="btn-addCherry" class="btn btn-primary btn-lg">등록</Button>
		</div>


		<!-- 카페 추가 모달 -->
		<div id="pickModal" class="modal fade modal-item">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">카페 추가</h5>
						<button type="button" data-bs-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body d-flex flex-column align-items-center">

						<!-- <div>아무 글이나 입력하세요.</div>
						<div class="input-group mb-3">
							<input type="text" class="form-control"
								aria-label="Amount (to the nearest dollar)">
							<div class="input-group-append">
								<span class="divBtn input-group-text"><b>확인</b></span>
							</div>
						</div> -->

						<!-- 확인을 누르면 표시되도록 -->

						<table class="table">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">cname</th>
									<th scope="col">caddress</th>
									<th scope="col">ctag</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody id="modal-tbody">
								<tr class="modal-tr">

									<th class="mcno" scope="row">1</th>
									<td class="mcname">Mark</td>
									<td class="mcaddress">Otto</td>
									<td class="mctag">#mdo</td>
									<td><img class="selectBtn divBtn icon-20"
										src="/img/check.png"></td>
									<!-- <td class="cno" style="display:none;"> -->
									<td class="mcimage" style="display: none;">
								</tr>
							</tbody>
						</table>
						

					</div>
				</div>
			</div>
		</div>



		<!-- 이 팝업안에서 카페명 search는 text input만 만들어놓고 기능은 이후 추가
하단에 출력한 내가만든리스트에는 수정 링크or버튼으로 update form으로 이동 (이때 새창 or 페이지이동은 자율), 삭제버튼  -->

		<!-- 모달 영역 -->
		<div id="menuModal" class="modal fade modal-item">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">회원 메뉴</h5>
						<button type="button" data-bs-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body d-flex flex-column align-items-center">


						<div><a id="mEdit" href="/member/checkPwdForEdit">회원정보 수정</a></div>
						<div><a href="/member/myPage">나의 CherryPick</a></div>
						<div><a href="/member/myAddCherry">새로운 Cherry 만들기</a></div>
						<div class="divBtn">
							<a th:href="@{myReview(num=1)}">나의 리뷰</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>

		<script src="/js/addCherry.js"></script>

		<script>
			var currItem = null;
		
			$('#menuBtn').on('click', function() {
				$('#menuModal').modal('show');
			});
			
			//$('#pickBtn').on('click', function() {
				
			function selectModal(idx){
				$('#pickModal').modal('show');
				$('.hoverimg').eq(idx).css( 'border', '3px solid #d0d0d0' );
				currItem = idx;
			}
		</script>

		<script>
		
			
			//$(".selectBtn").click(function(event)
			function selectItem(e){
				   //let myparent = $(this.parentNode.parentNode);
				   //let myparent = this.parentNode.parentNode;
				   //jquery obj
				   //console.log(this);
				   console.log($(this));
				   let myparent = $(this.parent().parent());
				   var cname = myparent.find('.cname').text();
				   var caddress = myparent.find('.caddress').text();
				   var ctag = myparent.find('.ctag').text();
					
 					var r = $(".resultRow").eq(currItem);
 					
 					console.log(r.children());
 					r.children().eq(1).text(cname);
 					r.children().eq(2).text(caddress);
 					r.children().eq(3).text(ctag);
 					//input이 타깃일 경우, text 대신 val
 					
 					$('#pickModal').modal('hide');

				};
			
			$('#pickModal').on('hidden.bs.modal', function () {
				$('.hoverimg').eq(currItem).css( 'border', '1px solid #d0d0d0' );
				var trNum = $('.modal-tr').length;
				
				while(trNum > 1){
					$('.modal-tr').eq(trNum-1).remove();
					trNum--;
				}
				
			});
		</script>


		<script type="text/javascript">
			
			$('#pickModal').on('shown.bs.modal', function() {

				var number = {
					number : 1
				};

				$.ajax({
					url : '/cafe/select',
					type : 'GET',
					data : number,
					dataType : 'json',
					contentType : "application/json;charset=UTF-8",
					success : function(data) {
						//alert('success!');
						//alert(data);
						console.log(data);
						writeList(data);

					},
					error : function() {
						alert('failed');
						console.log(data);
					}
				});

			});
			

			function writeList(arr){
				for (var i = 0; i < 10; i++){
					//임시로 10까지만.
				
					  var obj = arr[i];
					  var cno = obj["cno"];
					  var cname = obj["cname"];
					  var cimage = obj["cimage"];
					  var caddress = obj["caddress"];
					  var ctag = obj["ctag"];
					  
					  
					
				 
				 	$('.mcno').eq(i).text(i+1);
				 	$('.mcname').eq(i).text(cname);
				 	$('.mcaddress').eq(i).text(caddress);
				 	$('.mctag').eq(i).text(ctag);
				 	$('.mcimage').eq(i).text(cimage);
				 	if(i < 10 - 1){
				 		$('.modal-tr').eq(0).clone().appendTo('#modal-tbody');
				 	}

				}

			 	
			 	var sBtns = document.querySelectorAll('.selectBtn');

			 	sBtns.forEach(btn => {
			 		btn.addEventListener('click', function (e) {
			 			
					    let myparent = e.target.parentNode.parentNode;
					   
					    var scname = myparent.querySelector('.mcname').textContent;
					    var scaddress = myparent.querySelector('.mcaddress').textContent;
					    var sctag = myparent.querySelector('.mctag').textContent;
					    var scno = myparent.querySelector('.mcno').textContent;
					    var scimage = myparent.querySelector('.mcimage').textContent;
						
	 					var r = $(".resultRow").eq(currItem);
	 					
	 					//console.log(r.children());
	 					r.children().eq(1).text(scname);
	 					r.children().eq(2).text(scaddress);
	 					r.children().eq(3).text(sctag);
	 					//input이 타깃일 경우, text 대신 val
	 					
	 					console.log(scno);
	 					console.log(scimage);
	 					$('.cno').eq(currItem).val(scno); 
						$('.hoverimg').eq(currItem).attr("src", '/img/' + scimage); //img src로
	 					 
	 					$('#pickModal').modal('hide');
		 	 		 });
			 	});
			}
				
			
		</script>




	</div>
</body>
</html>










