<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout-main}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CherryPick</title>
</head>

<body>
	<!-- 부트스트랩 클래스 : container, btn, btn-outnline, container, row, col-md-4, ... -->

	<div layout:fragment="content">
		<div class="content-top">
			<!-- <div class="d-flex">
				<div>
					<img class="back-icon" src="img/back.png">
				</div>
				<div>
					<b>username님의 Pick</b>
				</div>
			</div>
			<hr> -->
			<div class="d-flex align-items-center row">
				<div class="d-flex justify-content-between align-items-center">
					<div class="d-flex">
						<div>&nbsp;&nbsp;&nbsp;</div>
						<img class="back-icon" src="../img/back.png" onclick="goBack();">
						<div>&nbsp;&nbsp;&nbsp;</div>
						<div class="text-20">나의 Cherrypick</div>
					</div>
					
					<div class="d-flex justify-content-end" style="text-align: right">
					<div class="d-flex">

						<div>
							<div>
								<b th:text="${#authentication.principal.username}">username님</b>
							</div>
							<div th:text="${member.email}">email@naver.com</div>
						</div>
						<div>&nbsp;&nbsp;&nbsp;</div>
						<div>&nbsp;&nbsp;&nbsp;</div>
						<div id="menuBtn" class="divBtn">
							<img class="icon-30" src="../img/menu.png">
						</div>
						<div>&nbsp;&nbsp;&nbsp;</div>
						<div>&nbsp;&nbsp;&nbsp;</div>
						<!-- 메뉴버튼 액션은 하단의 script 태그에 -->
					</div>
					<!-- <a id="mEdit" href="/member/checkPwdForEdit"><img class="icon-20" src="../img/edit.png"></a> -->
				</div>
				</div>
				


			</div>

			<!-- <div class="divBtn">
				<a th:href="@{myReview(num=1)}">
					<button class="ulBtn" type="submit">내가 작성한 리뷰 보러가기</button>
				</a>
			</div> -->
			
			<hr>
			<div class="content-top-tab">
				<div id="tab-cafe" class="divBtn" onclick="showCafeBmk()">카페</div>
				<div>|</div>
				<div id="tab-list" class="divBtn" onclick="showCafeListBmk()">리스트</div>
			</div>
		</div>
		<hr>

<!-- 		<div style="color: gray">
			<b>'카페'글자와 '리스트'글자를 눌러 탭을 전환합니다.</b>
		</div> -->

		<div class="content container">

			<div id="cfBmk" class="cflist container">
					<div th:unless="${cafes.size}">북마크된 카페가 없습니다.</div>


					<!-- th로 cafelist 받아오기 -->
					<div class="cflist-item" th:each="cafe : ${cafes}">
						<div class="cflist-thumb">
						<img th:src="@{${'/img/' + cafe.cimage}}" alt="카페썸네일" style="width:150px; height: 150px; object-fit:cover;"/>
						</div>
	
						<div class="d-flex">
							<div class="col p-4 d-flex flex-column position-static">
								<strong class="d-inline-block mb-2 text-success" th:text="${cafe.cname}">카페
								이름</strong>
							<div th:text="${cafe.ctag}">카페 해시태그</div>	
							<div class="mb-1 text-muted" th:text="${cafe.caddress}">부산광역시 경상남도 서울시</div>
							
				
							<div class="cflist-review">
								<div class="cflist-review-profile"></div>
								<div>
									<b th:text="${cafe.username}">username</b>&nbsp; 
									<div>
									<span th:if="${cafe.title != null}" th:text="${cafe.title}"></span>
									<span th:if="${cafe.title == null}">등록된 리뷰가 없습니다.</span>
									</div>
								</div>
							
							</div>
							<a th:id="${cafe.cno}" th:onclick="sendToInfo(this.getAttribute('id'))">더보기</a>
							</div>


						</div>

					</div>



			</div>
			<div></div>
<!--	내가 북마크한 리스트 --> 
			<div id="cfLiBmk" class="cflist container">
			
					<div th:unless="${list.size}">북마크된 리스트가 없습니다.</div>
					<div class="cflist-item" th:each="list : ${list}">
						<div class="cflist-thumb">
						<img th:src="@{${'/img/' + list.cimage}}" alt="카페썸네일" style="width:150px; height: 150px; object-fit:cover;"/>
						</div>

						<div class="d-flex">
							<div class="col p-4 d-flex flex-column position-static">
								<strong class="d-inline-block mb-2 text-success" th:text="${list.liname}">1. 카페 리스트 이름</strong>
								<div class="mb-1 text-muted">
								<b th:id="${list.lino}" th:onclick="sendToListInfo(this.getAttribute('id'))">상세보기</b>
								</div>
								<div class="cflist-review"></div>
							</div>

						</div>

					</div>
				
			</div> 

		</div>
		
		

 	<!-- 모달 영역 -->
		<div id="menuModal" class="modal fade modal-item">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">회원 메뉴</h5>
						<button type="button" data-bs-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body d-flex flex-column align-items-center">


						<div><a id="mEdit" href="/member/checkPwdForEdit">회원정보 수정</a></div>
						<div><a href="/member/myPage">나의 CherryPick</a></div>
						<div><a href="/member/myAddCherry">새로운 Cherry 만들기</a></div>
						<div class="divBtn">
							<a th:href="@{myReview(num=1)}">나의 리뷰</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>


		<!-- ==============화면 표시 스크립트============ -->


		<script type="text/javascript">
			var cfBmk = document.getElementById("cfBmk");
			var cfLiBmk = document.getElementById("cfLiBmk");

			cfLiBmk.style.display = 'none';
			
			$('#tab-cafe').css("font-weight", "bold");
			$('#tab-list').css("font-weight", "");
			

			function showCafeBmk() {
				cfBmk.style.display = 'flex';
				cfLiBmk.style.display = 'none';
				$('#tab-cafe').css("font-weight", "bold");
				$('#tab-list').css("font-weight", "");
			}

			function showCafeListBmk() {
				cfBmk.style.display = 'none';
				cfLiBmk.style.display = 'flex';
				$('#tab-cafe').css("font-weight", "");
				$('#tab-list').css("font-weight", "bold");
			}

			function seeCafeListItem() {
				alert(event.target);
				var parent = event.target.parentNode;
				parent.style.display = 'none';

			}

			function hideCafeListItem() {

			}

			/* 
			 var biz = document.getElementById("bizMemberJoin");
			
			 mem.style.display = 'none';
			 biz.style.display = 'none';
			
			 function alertIdLength(alert, input){
			 var alert = document.getElementById(alert);
			 var input = document.getElementById(input);
			
			 var len = $(input).val().length;
			 if(len<8 || len>15)
			 alert.style.display = 'block';
			 else
			 alert.style.display = 'none';
			 }
			
			
			 var bDisplay = true;
			
			
			 function displayBizFrm() {
			 if (biz.style.display == 'none') {
			 biz.style.display = 'block';
			 } else {
			 biz.style.display = 'none';
			 }
			 mem.style.display = 'none';
			 }  */
		</script>
		<script>
			$('#menuBtn').on('click', function() { 
				$('#menuModal').modal('show');	
			});
			
			
		
		</script>
	</div>


</body>
</html>










