<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout-main}">
<head>
<meta charset="UTF-8">
<title>CherryPick</title>
</head>
<body>
	<div class="content loginpage text-center container" layout:fragment="content">
		<main class="form-signin w-100 m-auto">
			<img src="/img/logo-pink.png" alt="" width="150">
			
			<h3>사업자 Password찾기</h3>
			
			<div>
				아이디와 이메일을 입력해 주세요.<br />
			</div>
			<br />
			
			<form th:action="@{/auth/sendBemailProc}" method="post">
			
				<div class="form-floating">
					<input type="text" class="form-control" placeholder="아이디를 입력해주세요." name="username" id="username"> 
					<label for="floatingInput">아이디를 입력해주세요.</label>
				</div>
				
				<div class="form-floating">
					<input type="email" class="form-control" placeholder="이메일을 입력해주세요." name="bemail" id="bemail"> 
					<label for="floatingInput">가입시 입력한 이메일을 입력해주세요.</label>
				</div>
				
				<button class="loginbtn w-100 btn btn-lg">이메일로 임시 비밀번호 전송</button>

			</form>
		</main>
	</div>
	
</body>
</html>