<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout-main}">
<head>
<!-- <meta charset="UTF-8">
<title>CherryPick</title> -->
	<script type="text/javascript">
	    $(document).ready(function() {
	    	if(document.getElementById("result").value==""){
	    		alert("공백없이 입력하여 주세요.");
	    		history.back();
	    	} else if(document.getElementById("result").value=="null"){ 
	    		alert("해당하는 회원정보가 없습니다.");
	    		history.back();
	    	}
	    });
	</script>
</head>
<!-- <body> -->
	<div class="content loginpage text-center container" layout:fragment="content">
		<main class="form-signin w-100 m-auto">
			<input type="hidden" th:value="${result}" id="result">
		</main>
	</div>
	
<!-- </body> -->
</html>