<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout-main}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CherryPick</title>
</head>

<body>
	<!-- 부트스트랩 클래스 : container, btn, btn-outnline, container, row, col-md-4, ... -->

	<div layout:fragment="content">
		<div class="content-top">
			<!-- <div class="d-flex">
				<div>
					<img class="back-icon" src="img/back.png">
				</div>
				<div>
					<b>username님의 Pick</b>
				</div>
			</div>
			<hr> -->
			<div class="d-flex align-items-center row">
					<div class="col-md-1">
						<img class="back-icon" src="../img/back.png">
					</div>
					<div class="col-md-10" style="text-align: right">
						<p>
							<b th:text="${bizMember.username+'님'}"></b>
						</p>
						<p th:text="${bizMember.bemail}"></p>
					</div>

					<div class="col-md-1">
						<a id="mEdit" href="/member/checkPwdForEdit"><img class="edit-icon" src="../img/edit.png"></a>
					</div>
			</div>
			<hr>
			<div class="content-top-tab">

				<div class="opt" onclick="showCafeBmk()">카페</div>
				<div>|</div>
				<div class="opt" onclick="showCafeListBmk()">리스트</div>
			</div>
		</div>
		<hr>

		<div style="color: gray">
			<b>'카페'글자와 '리스트'글자를 눌러 탭을 전환합니다.</b>
		</div>

		<div class="content container">

			<div id="cfBmk" class="cflist container">

				<th:block th:each="num : ${#numbers.sequence(1,3)}">
					<div class="cflist-item">
						<div class="cflist-thumb" style="background-image: url('https://images.pexels.com/photos/7362647/pexels-photo-7362647.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=650&amp;w=940');"></div>

						<div class="d-flex">
							<div class="col p-4 d-flex flex-column position-static">
								<strong class="d-inline-block mb-2 text-success">1. 카페 이름</strong>
								<div class="mb-1 text-muted">부산광역시 경상남도 서울시</div>
								<div class="cflist-review">
									<div class="cflist-review-profile"></div>
									<div>
										<input type="hidden" id="username" th:value="${bizMember.username}">
										<b>username</b>&nbsp; 카페 리뷰를 입력하는 란입니다. 아직 입력된 데이터가 존재하지 않습니다.
									</div>

								</div>
								<a href="seeCafeListItem()">더보기</a>

							</div>
							<div>
								<img src="../img/bmk-empty.png">
							</div>

						</div>

					</div>
				</th:block>


			</div>
			<div></div>

			<div id="cfLiBmk" class="cflist container">

				<th:block th:each="num : ${#numbers.sequence(1,3)}">
					<div class="cflist-item">
						<div class="cflist-thumb" style="background-image: url('https://images.pexels.com/photos/5722871/pexels-photo-5722871.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=300');"></div>

						<div class="d-flex">
							<div class="col p-4 d-flex flex-column position-static">
								<strong class="d-inline-block mb-2 text-success">1. 카페 리스트 이름</strong>
								<div class="mb-1 text-muted">카페1, 카페2, 카페3, 카페4, 카페5</div>
								<div class="cflist-review"></div>
							</div>
							<div>
								<img src="../img/bmk-empty.png">
							</div>
						</div>

					</div>
				</th:block>
			</div>

		</div>


		<!-- ==============화면 표시 스크립트============ -->


		<script type="text/javascript">
			var cfBmk = document.getElementById("cfBmk");
			var cfLiBmk = document.getElementById("cfLiBmk");

			cfLiBmk.style.display = 'none';

			function showCafeBmk() {
				cfBmk.style.display = 'flex';
				cfLiBmk.style.display = 'none';
			}

			function showCafeListBmk() {
				cfBmk.style.display = 'none';
				cfLiBmk.style.display = 'flex';
			}

			function seeCafeListItem() {
				alert(event.target);
				var parent = event.target.parentNode;
				parent.style.display = 'none';

			}

			function hideCafeListItem() {

			}

			/* 
			 var biz = document.getElementById("bizMemberJoin");
			
			 mem.style.display = 'none';
			 biz.style.display = 'none';
			
			 function alertIdLength(alert, input){
			 var alert = document.getElementById(alert);
			 var input = document.getElementById(input);
			
			 var len = $(input).val().length;
			 if(len<8 || len>15)
			 alert.style.display = 'block';
			 else
			 alert.style.display = 'none';
			 }
			
			
			 var bDisplay = true;
			
			
			 function displayBizFrm() {
			 if (biz.style.display == 'none') {
			 biz.style.display = 'block';
			 } else {
			 biz.style.display = 'none';
			 }
			 mem.style.display = 'none';
			 }  */
		</script>
	</div>


</body>
</html>










