<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout-main}">


<!-- <body> -->
<div layout:fragment="content">


	<div id="page-wrapper" class="d-flex">

		<div id="sidebar-wrapper" class="col-md-1"
			th:replace="fragments/bizSidebar:: sidebar"></div>


		<!-- 본문 -->
		<div class="content" id="page-content-wrapper">
			<div class="container-fluid">
				<div class="text-large">사업장 관리 </div>
				<hr>
				<div class="text-20" th:text="카페1">카페</div>
				<br>
				<!-- 등록 정보 영역 -->
				<div class="text-20">
					<b>등록 정보</b> <img class="edit-icon" src="/img/edit.png">
				</div>
				<form>
					<table style="width: 30%">
						<tr>
							<th>업체명</th>
							<td th:text="|카페1|">카페</td>
						</tr>
						<tr>
							<th>주소</th>
							<td th:text="|서울특별시 강남구 봉은사로|">주소</td>
						</tr>
						<tr>
							<th>전화번호</th>
							<td th:text="010-0000-0000">555 77 854</td>
						</tr>
						<tr>
							<th>가격대</th>
							<td>만원대 미만</td>
						</tr>
						<tr>
							<th>영업시간</th>
							<td th:text="'14:00' + '~' + '21:00'">14:00 - 21:00</td>
						</tr>
						<tr>
							<th>주차 여부</th>
							<td th:if="true" th:text="가능"></td>
							<td th:if="false" th:text="불가"></td>
						</tr>
						<tr>
							<th>애견 동반</th>
							<td th:if="true" th:text="가능"></td>
							<td th:if="false" th:text="불가"></td>
						</tr>
						<tr>
							<th>유아 동반</th>
							<td th:if="true" th:text="가능"></td>
							<td th:if="false" th:text="불가"></td>
						</tr>
						<tr>
							<th>총 좌석 수</th>
							<td th:text="|좌석 수|">좌석 수</td>
						</tr>
						<tr>
							<th>5인이상 단체석</th>
							<td th:if="true" th:text="있음"></td>
							<td th:if="false" th:text="없음"></td>
						</tr>
					</table>
				</form>
				<hr>

				<!-- 등록 이미지 -->
				<div class="text-20">등록 이미지</div>
				<div class="row">
					<div class="col-md-3">
						<div class="cf-img thumbnail" OnClick="location.href ='#'"
							style="background-image: url('https://images.pexels.com/photos/5722871/pexels-photo-5722871.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=300');">
						</div>
					</div>

					<div class="col-md-3">
						<div class="cf-img thumbnail" OnClick="location.href ='#'"
							style="background-image: url('https://images.pexels.com/photos/7541175/pexels-photo-7541175.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
						</div>
					</div>
					<div class="col-md-3">
						<div class="cf-img thumbnail" OnClick="location.href ='#'"
							style="background-image: url('https://images.pexels.com/photos/7541176/pexels-photo-7541176.jpeg?auto=compress&cs=tinysrgb&w=300&lazy=load');">
						</div>
					</div>
				</div>
				<hr>
				
				<!-- 등록 메뉴 영역 -->
				<div class="d-flex flex-column" style="gap: 10px;">
					<div class="text-20">등록 메뉴 <img class="edit-icon" src="/img/edit.png"></div> 
					<div>
						<b>전체 메뉴판</b>
					</div>
					<img src="/img/samplemenu.jpg" width="250"/>

					<form>
						<div class="menulist-item">
							<div class="d-flex" style="gap: 10px;">
								<div>
									<img src="/img/sample.jpg" alt="메뉴썸네일" width="150" />
								</div>
								<div>
									<div>
										메뉴명: <span th:text="|메뉴이름1|">메뉴이름</span>
									</div>
									<div>
										메뉴가격: <span th:text="|메뉴가격|">메뉴가격</span>
									</div>
									<div>
										메뉴설명: <span th:text="|메뉴설명을 작성하는 란입니다.|">메뉴설명</span>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<hr>

				<div class="text-20">
					<b>데이터</b>
				</div>
				<div>조회수 000,000회</div>
				<div>북마크 수 n회</div>
				<div>리뷰 수 n개</div>
				<hr>

				<div class="text-20">
					<a href="#">>>카페 등록 페이지에서 확인하기</a>
				</div>

			</div>

		</div>
	</div>

</div>



<!-- </body> -->




</html>
