 
<!doctype html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout-main}">
<head>
	<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css" />
</head>

<div layout:fragment="content">


	<div id="page-wrapper" class="d-flex">

		<div id="sidebar-wrapper" class="col-md-1"
			th:replace="fragments/bizSidebar:: sidebar"></div>



		<!-- 본문 -->
		<div class="content" id="page-content-wrapper">
			<div class="container-fluid">
				<div class="text-large">신규 사업장 등록</div>
				<hr>
				<div class="text-23" th:text="카페1"
					style="text-decoration: underline;">카페 이름</div>
				<br>
				<!-- 기본 정보 영역 -->
				<div class="text-20">
					<b>기본 정보</b>
				</div>
				<!-- action="/cafe/regCafeProc" -->
				<form id="cfFrm" action="/cafe/regCafeProc" method="post">
					<table>
						<tr>
							<th>업체명</th>
							<td><input id="cname" value="카페이름" type="text"
								class="form-control" placeholder=""></td>
						</tr>
						<tr>
							<th>주소</th>
							<td><input id="caddress" value="서울시 강남구" type="text"
								class="form-control" placeholder=""></td>
						</tr>
						<tr>
							<th>전화번호</th>
							<td><input id="cphone" value="010-0000-0000" type="text"
								class="form-control" placeholder=""></td>
						</tr>

						<tr>
							<th>영업시간</th>
							<td>오픈 <input id="copen" value="" type="time"
								class="form-control" placeholder=""> 마감 <input
								id="cclose" value="" type="time" class="form-control"
								placeholder=""></td>
						</tr>
						<tr>
							<th>주차공간</th>
							<td><input id="parkingY" class="form-check-input"
								type="radio" name="parking" value=1> <label
								class="form-check-label" for="flexRadioDefault1"> 있음 </label> <input
								id="parkingN" class="form-check-input" type="radio"
								name="parking" value=0 checked> <label
								class="form-check-label" for="flexRadioDefault2"> 없음 </label></td>
						</tr>
						<tr>
							<th>애견 동반</th>
							<td><input id="petY" class="form-check-input" type="radio"
								name="pet" value=1> <label class="form-check-label"
								for="flexRadioDefault1"> 예 </label> <input id="petN"
								class="form-check-input" type="radio" name="pet" value=0 checked>
								<label class="form-check-label" for="flexRadioDefault2">
									아니오 </label></td>
						</tr>
						<tr>
							<th>유아 동반</th>
							<td><input id="kidY" class="form-check-input" type="radio"
								name="kids" value=1> <label class="form-check-label"
								for="flexRadioDefault1"> 예 </label> <input id="kidN"
								class="form-check-input" type="radio" name="kids" value=0
								checked> <label class="form-check-label"
								for="flexRadioDefault2"> 아니오 </label></td>
						</tr>


						<tr>
							<th>총 좌석 수</th>
							<td><input id="seats" value="0" type="text"
								class="form-control" placeholder=""></td>
						</tr>
						<tr>
							<th>단체석(5인 이상)</th>
							<td><input id="groupY" class="form-check-input" type="radio"
								name="group" value=1> <label class="form-check-label"
								for="flexRadioDefault1"> 있음 </label> <input id="groupN"
								class="form-check-input" type="radio" name="group" value=0
								checked> <label class="form-check-label"
								for="flexRadioDefault2"> 없음 </label></td>
						</tr>

					</table>
					<div>
						<b>해시태그 /최대 5개까지 입력 가능합니다.</b>
					</div>

					<div id="ctag-block">
						<!-- <div class="ctag-item">
							<input type="text" class="ctag form-control" placeholder="" data-prefix="#">
						</div> -->
						<div class="ctag-item">
							<span class="ctag-item-prefix">#</span> <input
								class="ctag-item-value" name="ctag" type="text" placeholder="" />
						</div>
					</div>

					<img class="divBtn icon-30"
						onclick="addItem('ctag-block', 'ctag-item', 5)"
						src="/img/circle-plus-pink.png">
					<hr>

					<!-- 이미지 등록 -->
					<div class="text-20">이미지 등록</div>
					<div class="row">
						<div id="cimage-block" class="row">
							<div class="cimage-item col-md-3">
								<!-- <div class="divBtn cf-img thumbnail"
									OnClick="location.href ='#'"
									style="background-image: url('https://images.pexels.com/photos/5722871/pexels-photo-5722871.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=300');">
								</div> -->
							</div>
<!-- 							<div class="cimage-item  col-md-3 img-result "> -->
							<div class="box-2 img-result hide">
								<img style="max-width: 100%;" src="" alt="" class="cropped">
							</div>
						</div>

						<div class="col-md-3">
							<div class="divBtn cf-img hoverbox thumbnail"
								onclick="test()"
								style="background-image: url('/img/add-image.png');">
								<!-- OnClick="addItem('cimage-block', 'cimage-item', 3)" -->
								<div id="overlay5">
									<div class="hoverbox-img-caption">새 이미지 추가</div>
									<p class="fa fa-plus-square-o fa-4x hoverbox-img-icon"></p>
								</div>
							</div>
						</div>
					</div>

					<hr>

					<!-- 메뉴 등록 영역 -->
					<div class="d-flex flex-column" style="gap: 10px;">
						<div class="text-20">메뉴 등록</div>
						<div>
							<b>전체 메뉴판</b>
						</div>
						<img onclick="location.href='#'" class="divBtn"
							src="/img/samplemenu.jpg" width="250" />

						<div>
							<b>대표메뉴</b>
						</div>

						<div id="menulist-block">

							<div class="menulist-item">
								<div class="d-flex" style="gap: 10px;">
									<div>
										<img onclick="location.href='#'" class="divBtn"
											src="/img/sample.jpg" alt="메뉴썸네일" width="150" />
									</div>
									<table>
										<tr>
											<th>메뉴명</th>
											<td><input id="m_name" value="" type="text"
												class="form-control" placeholder=""></td>
										</tr>

										<tr>
											<th>메뉴가격</th>
											<td>
												<div class="">
													<span class="ctag-item-prefix">#</span> <input id="m_price"
														value="" type="text" class="input-number form-control"
														placeholder="">
												</div>
											</td>
										</tr>
										<tr>
											<th>메뉴설명</th>
											<td><input id="m_detail" value="" type="text"
												class="form-control" placeholder="메뉴에 대해 설명해주세요."></td>
										</tr>
									</table>
									<div class="divBtn">
										<img class="icon-20" src="/img/x.png">
									</div>
								</div>
							</div>
						</div>
						<div onclick="addItem('menulist-block', 'menulist-item', 3)"
							class="divBtn hoverbox" style="width: 150px; height: 100px;">
							<img class="icon-30" src="/img/circle-plus.png">
						</div>
					</div>
					<hr>
					<!-- <button id="btn-register" type="submit" class="btn btn-primary btn-lg btn-block"
						>등록 완료</button>	 -->
				</form>
				
				<input id="upload-file-input" type="file" name="files" multiple/>
					<input type="file" name="files" />
					<input type="file" name="files" />
					<input type="file" name="files" />
					<input type="file" name="files" />
				
				<button id="btn-register" class="btn btn-primary btn-lg btn-block">등록
					완료</button>

				<br>
				<!-- <div class="divBtn btn btn-primary btn-lg" onclick="test()">테스트</div> -->

				<form id="upload-file-form">
					<label
						for="upload-file-input">Upload your file:</label> <input
						id="upload-file-input" type="file" name="uploadfile" accept="*" />			
				</form>
			</div>


			<!-- 미리보기 box -->
			<div class="box-2 img-result hide">
									<img style="max-width:100%;" src="" alt="" class="cropped">
								</div>
			<!-- 모달 영역 -->
			<div id="imgModal" class="modal fade">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">이미지 첨부</h5>
							<button type="button" data-bs-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							
							<!-- Cropper 영역 -->
							<div>
								<div class="form-group.container">
									<label for="file">Upload File</label> <input type="file"
										id="file-input" required accept="image/*">
									<!-- required accept: 파일 유형 제한 -->
								</div>
								<div class="box-2">
									<div class="result"></div>
								</div>

								<!-- <div class="box-2 img-result hide">
									<img style="max-width:100%;" src="" alt="" class="cropped">
								</div> -->

								<div class="box">
									<div class="options hide">
										<label for="width">width</label> <input type="number"
											class="img-w" value="300" min="100" max="1200">
									</div>
									<button class="btn save hide" data-bs-dismiss="modal">Save</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>


	<!-- cropper script -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>
	<script>
	let result = document.querySelector(".result"), 
	img_result = document.querySelector(".img-result"), 
	img_w = document.querySelector(".img-w"), 
	img_h = document.querySelector(".img-h"), 
	options = document.querySelector(".options"), 
	save = document.querySelector(".save"), 
	//여기서 값을 받아올거야.
	cropped = document.querySelector(".cropped"),
	
	
	upload = document.querySelector("#file-input"), 
	cropper = "";
	
	upload.addEventListener('change',(e) =>{
		console.log(e)

		//이미지 자르기
	 // start file reader
      const reader = new FileReader();
      reader.onload = (e) => {
        if (e.target.result) {
          // create new image
          let img = document.createElement("img");
          img.id = "image";
          img.src = e.target.result;
          // clean result before
          result.innerHTML = "";
          // append new image
          result.appendChild(img);
          // show save btn and options
          save.classList.remove("hide");
          options.classList.remove("hide");
          // init cropper
          cropper = new Cropper(img);
        }
      };
      reader.readAsDataURL(e.target.files[0]);	
	})
	
	//save button to crop the image
	save.addEventListener('click',(e)=>{
		e.preventDefault()
	
	 // get result to data uri
    let imgSrc = cropper
      .getCroppedCanvas({
        width: img_w.value,
        // input value
      })
      .toDataURL();
		
		console.log(imgSrc);
		
		//이제 이 cropped를 숨기고, 표시하는 게 아닌.... 없애고, 생성하고 싶어.
		 // remove hide class of img
	    cropped.classList.remove("hide");
	    img_result.classList.remove("hide");
	    // show image cropped

	    cropped.src = imgSrc;
	})
</script>

	<!-- DB 연결 스크립트 -->
	<script src="/js/tempcafe.js"></script>

	<script>
		//숫자 입력란(.input-number)에 ,로 숫자 구분
		function updateTextView(_obj) {
			var num = getNumber(_obj.val());
			if (num == 0) {
				_obj.val('');
			} else {
				_obj.val(num.toLocaleString());
			}
		}
		function getNumber(_str) {
			var arr = _str.split('');
			var out = new Array();
			for (var cnt = 0; cnt < arr.length; cnt++) {
				if (isNaN(arr[cnt]) == false) {
					out.push(arr[cnt]);
				}
			}
			return Number(out.join(''));
		}
		$(document).ready(function() {
			$('.input-number').on('keyup', function() {
				updateTextView($(this));
			});
		});

		//▼▼▼▼====입력란 추가 관련 메소드====▼▼▼▼
		//초기설정 : 입력란의 복사본을 하나 만들고, 원본은 숨긴다(display = 'none')

		function initItem(blk, itm) {
			var blk = document.getElementById(blk);
			var itm = document.getElementsByClassName(itm);
			blk.appendChild(itm[0].cloneNode(true));
			itm[0].style.display = 'none';
		}

		initItem('ctag-block', 'ctag-item');
		initItem('menulist-block', 'menulist-item');
		initItem('cimage-block', 'cimage-item');

		//숨겨져 있는 원본을 복사하고, 화면에 표시한다(display = 'block')
		function addItem(blk, itm, max) {
			var blk = document.getElementById(blk);
			var itmArr = document.getElementsByClassName(itm);

			//갯수 제한을 넘기면 더 이상 엘리먼트를 생성하지 않는다.
			//실제 엘리먼트의 갯수는 (화면에 표시된 갯수 + 숨겨진 원본 1개)이므로, 판별조건에 -1을 붙여준다.
			if (itmArr.length - 1 < max) {
				var clone = blk.appendChild(itmArr[0].cloneNode(true));
				clone.style.display = 'block';
			}
		}

		//안한거 : +버튼, x버튼이 눌렸을 때 +버튼의 display를 토글하라.

		//해쉬태그 생성 관련
		var ctagStr = "";

		function makeHashtag() {
			var ctagArr = document.getElementsByClassName('ctag-item-value');
			ctagStr = "";

			for (var i = 1; i < ctagArr.length; i++) {
				var currCtag = ctagArr[i].value.replace(/(\s*)/g, ""); //공백 제거
				if (currCtag.length > 0) {
					ctagStr = ctagStr += '#' + currCtag;
				}
			}
		}

		function test() {
			$("#imgModal").modal('show');
		}
	</script>

</div>



<!-- </body> -->




</html>
