<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{./layout/layout-main}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CherryPick</title>
</head>

<body>
	<div class="content container" layout:fragment="content">
	<!-- 문구는 임시로 적은거라 실제 회원탈퇴 페이지 참고해서 수정하셔도 됩니다~ -->
		<h1>정말 회원탈퇴 하시겠습니까?</h1>
		
		
		<div style="text-align: center; background-color: #F3D5DF; border-radius: 10px; padding:10px;">
			계정을 삭제하면 개인정보가 삭제되어 게시물을 수정하거나 삭제할 수 없어요.
			<br> 게시물 삭제가 필요하시다면, 게시물을 삭제한 다음 탈퇴 신청해주세요.
		</div>
		<hr>
		
		
		<form>
			<label class="text-20">계정을 삭제하시려는 이유를 알려주시겠어요?</label>
			
			<div>
				<input type="checkbox"> 
				<label>서비스가 도움이 되지 않거나, 자주 이용하지 않아요.</label>
			</div>
			
			<div>
				<input type="checkbox"> 
				<label>서비스가 정상적으로 작동하지 않아요.</label>
			</div>
			
			<div>
				<input type="checkbox"> 
				<label>새 계정을 만들고 싶어요.</label>
			</div>
			
			
			<div>
				<input type="checkbox"> 
				<label>개인정보 유출이 걱정돼요.</label>
			</div>
			
			<div>
			<input type="checkbox"> 
			<label>그 밖의 이유</label>
			</div>
			<hr>
			
			<div class="text-20" style="margin-top:40px;">
				<label>운영진에게 남기고 싶은 말을 작성해주세요.</label>
				<textarea class="form-control" rows="5"></textarea>
			</div>
			
		</form>
		
		<form>
			<button type="button" class="btn btn-primary btn-lg btn-block" id="withdrawalProcBtn">회원탈퇴</button>
			<input type="hidden" id="username" th:value="${#authentication.principal.username}">
		</form>
		
	
	</div>


</body>
</html>