<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
	<footer class="footer">
		<div class="d-flex flex-column">
			
	
			<div class="footer-list-container">
				<img onclick="gohome();" class="divBtn footer-logo" src="/img/logo.png" alt=""/>
				<div>Contact Us</div>
				
				
				<div class="footer-list">
					<div>
						PHONE<br>
						☏ 010-0000-0000
					</div>
					<div>
						ADDRESS<br>
						부산광역시 중구
					</div>
					<div>
						E-Mail<br>
						cherrypick@gmail.com
					</div>
				</div>
				
				<div>
					
					Copyright 2022 Java SW team.<br>
					All rights reserved.					
				</div>
	
			</div>
		</div>
		
	</footer>

</div>

</html>
