<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
	<footer class="footer">
		<a href="#"> <img src="/img/logo.png" alt="" class="footer-logo" /></a>

		<div class="footer-list-container">
			<div>
				<ul>
					<li>aaa</li>
					<li>aaa</li>
					<li>aaa</li>
					<li>aaa</li>
					<li>aaa</li>
				</ul>
			</div>
			<div>
				<ul>
					<li>aaa</li>
					<li>aaa</li>
					<li>aaa</li>
					<li>aaa</li>
					<li>aaa</li>
				</ul>
			</div>
			<div>
				<ul>
					<li>aaa</li>
					<li>aaa</li>
					<li>aaa</li>
					<li>aaa</li>
					<li>aaa</li>
				</ul>
			</div>

		</div>
		<div>Copyright 2022 Java SW team. All rights reserved.</div>
	</footer>

</div>

</html>
