<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header-title" class="title">
	<div class="title-banner">
		<div class="title-top">
			<div class="title-top-left">
				<img src="/img/logo.png" width="150px">
			</div>
			
			<div sec:authorize-expr="isAuthenticated()" class="title-top-right">
		        <!-- <h2 sec:authentication="username">Name</h2> -->
		        <a href="#">My Page</a>
		        <a href="#" th:href="@{/logout}">Logout</a>
		    </div>
		    
		    <div sec:authorize-expr="!isAuthenticated()" class="title-top-right">
		        <a href="/auth/loginForm">Sign in</a>
				<a href="/auth/joinForm">Sign up</a>
		    </div>
		    
		</div>
		<div class="title-center">
			<span style="font-size: 12px;
	color: #ddd;">주목할 만한, 글귀 한 구절!</span>
			<h3>망고플레이트</h3>

			<div class="title-searchbar">
				<div>
					&nbsp;&nbsp;<img src="/img/search-w.png" style="height: 20px;">&nbsp;&nbsp;|&nbsp;&nbsp;
				</div>
				<input id="title-search-input" placeholder="가고 싶은 카페를 찾아보세요. #인스타 #핫플 #스터디"></input>
			</div>

		</div>
	</div>
</div>
<div th:fragment="header-navbar" class="title">
	<nav class="title-bottom">
		<div></div>
		<Button>HOME</Button>
		<Button>LINK A</Button>
		<Button>LINK B</Button>
		<Button>LINK C</Button>
		<Button>LINK D</Button>
		<Button>LINK E</Button>
		<div></div>
	</nav>
</div>

<div th:fragment="header-sub">
	<div class="sub">
		<div class="sub-left">
			<img class="logo-pink" src="/img/logo-pink.png"></img>
		</div>
		<div class="sub-searchbar">
			<div>
					&nbsp;&nbsp;<img src="/img/search-b.png" style="height: 20px;">&nbsp;&nbsp;|&nbsp;&nbsp;
				</div>
				<input id="mainsearch" placeholder="#인스타 #핫플 #스터디"></input>
		</div>
	</div>
	
</div>
</html>
