
.cflist-label {
	display: flex;
	justify-content: space-between;
}

.test {
	color: red;
}

.displayNone {
	display: none;
}

.filter-table {
	display: flex;
}

.form-check-label {
	margin-right: 1rem;
}

.cherrycards {
	display: flex;
	justify-content: space-around;
}

.review-card{
	display: block;
	width: 40rem;
	text-align: center;
	margin: 0 auto;
}

.review-card-sep {
	display: flex;
}