* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

.text-large {
	font-size: 25px;
	font-weight: bold;
}

.text-23 {
	font-size: 23px;
	font-weight: bold;
}

.text-20 {
	font-size: 20px;
	font-weight: bold;
}


.gray{
	color: gray;	
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a, a:visited, a:hover, a:active {
	color: inherit;
}

button {
	background-color: transparent;
	border: none;
}

input {
	border: none;
}

textarea:focus, input:focus {
	outline: none;
}

.content-top {
	margin-top: 20px;
}

.content-top {
	/* padding-left: 10px; */
}

.content-top-tab {
	display: flex;
	justify-content: space-evenly;
}


/*=====숨김(cropper와 결부)======*/
.hide {
	display: none;
}


/*========아이콘========*/
.icon-15 {
	width: 15px;
	height: 15px;
}
.icon-20 {
	width: 20px;
	height: 20px;
}

.icon-30 {
	width: 30px;
	height: 30px;
}

.back-icon {
	width: 20px;
	height: 30px;
}


.check-icon {
	width: 20px;
}

.heart-icon {
	width: 20px;
}

.clock-icon {
	width: 30px;
}

/*구분선*/
.hr-dotted {
	border: none;
	border-top: 2px dotted #ddd;
	height: 1px;
}

/*========박스========*/
/*첫글자가 있는 입력 상자*/
.margin-top-10{
	margin-top: 10px;
}

.margin-top-20{
	margin-top: 20px;
}

.margin-top-40{
	margin-top: 40px;
}

.input-box {
  display: flex;
  align-items: center;
  max-width: 300px;
  background: #fff;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  padding-left: 0.5rem;
  overflow: hidden;
  font-family: sans-serif;
}

.input-box .prefix {
  font-weight: 300;
  font-size: 14px;
  color: #999;
}

.input-box input {
  flex-grow: 1;
  font-size: 14px;
  background: #fff;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.input-box:focus-within {
  border-color: #777;
}

.divBtn {
	cursor: pointer;
}

.ulBtn * :hover{
	text-decoration: underline; 
}

.hoverbox {
	width: 100%;
	border: 5px dotted gray;
	box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	background-position: center;
	background-size: contain; 
	background-repeat: no-repeat;
}

.hoverbox-img-caption {
	font-weight: 300;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.hoverbox-img-caption, .hoverbox-img-icon {
	margin: 0;
}

#overlay5 {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.85);
	width: 100%;
	height: 100%;
	position: absolute;
	top: auto;
	bottom: 0;
	opacity: 0;
	transition: opacity 0.3s ease;
}

#overlay8 {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.85);
	width: 100%;
	height: 100%;
	position: absolute;
	top: auto;
	bottom: 0;
	opacity: 0;
	transform: scale(0);
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.hoverbox:hover #overlay5 {
	opacity: 1;
}

.hoverbox:hover #overlay8 {
	opacity: 1;
	transform: scale(1);
}


/*========header-title 요소========*/
.title {
	filter: drop-shadow(0px 6px 4px #bbb);
}

.title-banner {
	height: 300px;
	text-align: center;
	background-image: url("/img/banner.jpg");
	background-size: cover;
	position: relative;
	align-items: center;
}

.title-top {
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.title-center {
	color: white;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title-text{
	margin-bottom: 0px !important;
	/*부트스트랩 scss 속성 margin-bottom: 0.5rem;을 강제로 덮어씀*/
}

.title-bottom {
	background-color: #a6434b;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.title-bottom * {
	color: #ddd;
}

.title-searchbar {
	color: white;
	display: flex;
	align-items: center;
	margin-left: 25px;
	margin-right: 25px;
	min-height: 30px;
	border: 5px solid #a6434b;
	border-radius: 50px;
}

#title-search-input {
	color: white;
	height: 100%;
	width: 80%;
	background-color: transparent;
	border: none;
}

#title-search-input::placeholder {
	color: #999;
}

.title-admin {
	width: 100%;
	height: 250px;
	background-image:
		url('https://cdn.pixabay.com/photo/2017/04/19/13/03/coffee-2242213_960_720.jpg');
	background-size: cover;
	background-position: center;
}

.title-admin * {
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	color: white;
}

.title-top-admin {
	height: 40px;
	background-color: #a6434b;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.title-top-right {
	display: flex;
}

.title-top-right * {
	color: white;
}

.title-top-right * :hover {
	text-decoration: underline;
}

/*========header-sub 요소========*/
.sub {
	display: flex;
	align-items: center;
	background-color: #EFE9EB;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	filter: drop-shadow(0px 3px 4px #bbb);
}

.logo-pink {
	width: 100px;
}

.sub-searchbar {
	background-color: white;
	color: #ccc;
	display: flex;
	align-items: center;
	margin-left: 10px;
	min-height: 30px;
	border: 1px solid #bbb;
	border-radius: 50px;
	width: 50%;
}

/* 사이드바 관련 요소 */
#sidebar-wrapper * {
	color: white;
	}

@media ( min-width : 0px) {
	/*=====모바일 뷰포트====*/
	#page-wrapper {
		flex-direction: column;
		min-height: 500px;
	}
	
	#sidebar-contents {
		display: flex;
		flex-direction: row;
		gap: 30px;

	}
	
	#sidebar-wrapper {
		width: 100%;
		height: 100%;
		padding-top: 30px;
		padding-left: 10px;
		padding-right: 10px;
		background-color: #544345;
	}
}

@media ( min-width : 768px) {
	/*=====데스크톱 뷰포트====*/
	#page-wrapper {
		flex-direction: row;
		padding-left: 200px;
		min-height: 500px;
	}
	#sidebar-wrapper {
		display: flex;
		flex-direction: column;
		gap: 30px;
		width: 200px;
		height: 100%;
		margin-left: -200px;
	}
	
	
	#sidebar-contents {
		position: fixed;
		top: 30;
		flex-direction: column;
		justify-content: space-between;
		gap: 30px;
		height: 80%;
	}
}

#page-content-wrapper {
	width: 100%;
	padding: 20px;
}

/*========footer 요소========*/
.footer-logo {
	width: 150px;
	height: 45px;
}

.footer {
	color: #ddd;
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	padding-bottom: 40px;
	justify-content: center;
	background-color: #3E3E3E;
	text-align: center;
}

.footer-list{
	color: #bbb;
}

.contact-head{
	font-size: 17px;
}

.contact-body{
	font-size: 14px;
}


/*=====파일첨부 드래그앤드롭=====*/
.drop-zone {
  max-width: 100%;
  height: 30vw;
  min-width: 250px;
  min-height: 250px;
  
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 3px dashed #e394a1;
  border-radius: 30px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

#menuModal .modal-body{
	gap: 20px;
}
