<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout-main}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CherryPick</title>
</head>

<body>
	<!-- 부트스트랩 클래스 : container, btn, btn-outnline, container, row, col-md-4, ... -->
	<div class="content container" layout:fragment="content">

		<div class="cf-label container">
			<span style="font-size: 12px; color: #bbb;"> 조회수 000,000회 |
				저장된 횟수 또는 즐겨찾기 수 </span> <br> <span style="font-size: 20px;">
				카페 이름 </span>
		</div>

		<hr>

		<div>
			<div class="row">
				<div class="col-md-4">
					<div class="cf-img thumbnail" OnClick="location.href ='#'"
						style="background-image: url('https://images.pexels.com/photos/5722871/pexels-photo-5722871.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=300');">
					</div>
				</div>

				<div class="col-md-4">
					<div class="cf-img thumbnail" OnClick="location.href ='#'"
						style="background-image: url('https://images.pexels.com/photos/7541175/pexels-photo-7541175.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
					</div>
				</div>
				<div class="col-md-4">
					<div class="cf-img thumbnail" OnClick="location.href ='#'"
						style="background-image: url('https://images.pexels.com/photos/7541176/pexels-photo-7541176.jpeg?auto=compress&cs=tinysrgb&w=300&lazy=load');">
					</div>
				</div>
			</div>
		</div>
		<div class="cf-detail">
			<table style="width: 100%">
				<tr>
					<th>주소</th>
					<td>서울특별시 강남구 봉은사로</td>
				</tr>
				<tr>
					<th>전화번호</th>
					<td>555 77 854</td>
				</tr>
				<tr>
					<th>음식 종류</th>
					<td>커피, 디저트</td>
				</tr>
				<tr>
					<th>가격대</th>
					<td>만원대 미만</td>
				</tr>
				<tr>
					<th>영업시간</th>
					<td>14:00 - 21:00</td>
				</tr>
				<tr>
					<th>주차</th>
					<td>주차공간없음</td>
				</tr>
				<tr>
					<th>마지막 주문</th>
					<td>20:00</td>
				</tr>
				<tr>
					<th>휴일</th>
					<td>월, 화</td>
				</tr>
			</table>
		</div>
		<hr>

		<b><span style="font-size: 16px;"> MENU </span></b>
		<div class="cf-menu" style="background-color: #ddd; height: 200px;">
			[메뉴 영역]</div>
		<hr>
		<b><span style="font-size: 16px;"> 위치 </span></b>
		<div class="map" style="background-color: #ddd; height: 300px;">
			[지도 영역]</div>

		<hr>
		<b><span style="font-size: 16px;"> 리뷰(000) </span></b>
		<div class="cf-review container">
			<div class="cf-review-writer">
				<div class="cf-review-profile"></div>
				<div>username</div>
			</div>
			<div>
				<div>5일 전</div>
				<div>
					리뷰 영역을 나타내는 더미 데이터입니다. 흔들리는 꽃들 속에서 네 샴푸향이 느껴진거야 스쳐지나간건가 뒤돌아보지만 그냥 사람들만 보이는거야 다와가는 집근처에서 괜히 핸드폰만 만지는거야 한번 연락해 볼까 용기내 보지만 그냥 내 마음만 아쉬운 거야 
				</div>
				
			</div>
		</div>
		<hr>
		<div class="cf-review container">
			<div class="cf-review-writer">
				<div class="cf-review-profile"></div>
				<div>username</div>
			</div>
			<div>
				<div>5일 전</div>
				<div>
					리뷰 영역을 나타내는 더미 데이터입니다. 걷다가 보면 항상 이렇게 너를 바라만 보던 너를 생각한다고 말할까 지금 집앞에 기다리고 때론 지나치고 다시 기다리는 꽃이 피는 거리에 보고파라 이밤에 걷다가 보면 항상 이렇게 너를 아쉬워 하다 너를 기다린다고 말할까 지금 집앞에 계속 이렇게 너를 아쉬워 하다 너를 연락했다 할까
				</div>
				
			</div>
		</div>
		<hr>
	</div>
</body>
</html>










