<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout-main}">
<!-- 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CherryPick</title>
</head>


<body> -->
<div layout:fragment="content">
	<header>
		<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#myCarousel"
					data-bs-slide-to="0" class="active" aria-current="true"
					aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#myCarousel"
					data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#myCarousel"
					data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">

				<div class="main-banner-tab carousel-item active">
					<img
						src="https://cdn.pixabay.com/photo/2016/03/26/23/23/starbucks-1281880_960_720.jpg">

					<div class="container">
						<div class="carousel-caption text-start">
							<h1>광고 페이지/대표 맛집 리스트</h1>
							<p>광고나 맛집 리스트를 제공합니다.</p>
							<p>
								<a class="btn btn-lg btn-primary"
									href="https://getbootstrap.com/docs/5.2/examples/carousel/#">Sign
									up today</a>
							</p>
						</div>
					</div>
				</div>

				<div class="main-banner-tab carousel-item">
					<img
						src="https://cdn.pixabay.com/photo/2020/04/02/23/01/rain-4996916_960_720.jpg">

					<div class="container">
						<div class="carousel-caption">
							<h1>Another example headline.</h1>
							<p>Some representative placeholder content for the second
								slide of the carousel.</p>
							<p>
								<a class="btn btn-lg btn-primary"
									href="https://getbootstrap.com/docs/5.2/examples/carousel/#">Learn
									more</a>
							</p>
						</div>
					</div>
				</div>


				<div class="main-banner-tab carousel-item">
					<svg class="bd-placeholder-img" width="100%" height="100%"
						xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
						preserveAspectRatio="xMidYMid slice" focusable="false">
							<rect width="100%" height="100%" fill="#777"></rect></svg>

					<div class="container">
						<div class="carousel-caption text-end">
							<h1>One more for good measure.</h1>
							<p>Some representative placeholder content for the third
								slide of this carousel.</p>
							<p>
								<a class="btn btn-lg btn-primary"
									href="https://getbootstrap.com/docs/5.2/examples/carousel/#">Browse
									gallery</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#myCarousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#myCarousel" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</header>


	<main class="content container">

		<div>
			<h5>샘플 소제목 1</h5>
			<hr>
		</div>

		<div class="main-pick">
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail main-pick-item" OnClick="location.href ='#'"
						style="background-image: url('https://images.pexels.com/photos/5722871/pexels-photo-5722871.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=300');">

						<div>카페 리스트 이름을 입력해주세요.</div>

					</div>
				</div>

				<div class="col-md-4">
					<div class="thumbnail main-pick-item" OnClick="location.href ='#'"
						style="background-image: url('https://images.pexels.com/photos/7541175/pexels-photo-7541175.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
						<div>카페 리스트 이름을 입력해주세요.</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail main-pick-item" OnClick="location.href ='#'"
						style="background-image: url('https://images.pexels.com/photos/7541176/pexels-photo-7541176.jpeg?auto=compress&cs=tinysrgb&w=300&lazy=load');">
						<div>카페 리스트 이름을 입력해주세요.</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="thumbnail main-pick-item" OnClick="location.href ='#'"
						style="background-image: url('https://images.pexels.com/photos/5722871/pexels-photo-5722871.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=300');">
						<div>카페 리스트 이름을 입력해주세요.</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="thumbnail main-pick-item" OnClick="location.href ='#'"
						style="background-image: url('https://images.pexels.com/photos/7541175/pexels-photo-7541175.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
						<div>카페 리스트 이름을 입력해주세요.</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail main-pick-item" OnClick="location.href ='#'"
						style="background-image: url('https://images.pexels.com/photos/7541176/pexels-photo-7541176.jpeg?auto=compress&cs=tinysrgb&w=300&lazy=load');">
						<div>카페 리스트 이름을 입력해주세요.</div>
					</div>
				</div>

			</div>
		</div>

		<div>
			<h5>샘플 소제목 2</h5>
			<hr>
		</div>

		<div class="cfresult">
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail cfresult-item" OnClick="location.href ='#'"
						style="background-image: url('https://images.pexels.com/photos/5722871/pexels-photo-5722871.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=300');">

						<div>카페 리스트 이름을 입력해주세요.</div>

					</div>
				</div>

				<div class="col-md-4">
					<div class="thumbnail cfresult-item" OnClick="location.href ='#'"
						style="background-image: url('https://images.pexels.com/photos/7541175/pexels-photo-7541175.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
						<div>카페 리스트 이름을 입력해주세요.</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail cfresult-item" OnClick="location.href ='#'"
						style="background-image: url('https://images.pexels.com/photos/7541176/pexels-photo-7541176.jpeg?auto=compress&cs=tinysrgb&w=300&lazy=load');">
						<div>카페 리스트 이름을 입력해주세요.</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="thumbnail cfresult-item" OnClick="location.href ='#'"
						style="background-image: url('https://images.pexels.com/photos/5722871/pexels-photo-5722871.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=300');">
						<div>카페 리스트 이름을 입력해주세요.</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="thumbnail cfresult-item" OnClick="location.href ='#'"
						style="background-image: url('https://images.pexels.com/photos/7541175/pexels-photo-7541175.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
						<div>카페 리스트 이름을 입력해주세요.</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail cfresult-item" OnClick="location.href ='#'"
						style="background-image: url('https://images.pexels.com/photos/7541176/pexels-photo-7541176.jpeg?auto=compress&cs=tinysrgb&w=300&lazy=load');">
						<div>카페 리스트 이름을 입력해주세요.</div>
					</div>
				</div>

			</div>
		</div>
	</main>
</div>
<!-- </body> -->
</html>










