<html xmlns:th="https://www.thymeleaf.org">
<body>
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
		crossorigin="anonymous"></script>
	<div th:if="${message}">
		<h2 th:text="${message}" />
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/uploadFile">
			<table>
				<tr>
					<td>File to upload:</td>
					<td><input id="upload-file-input" type="file" name="file" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Upload" /></td>
				</tr>
			</table>
		</form>
		<button id="uploadTest">업로드</button>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}"><a th:href="${file}"
				th:text="${file}" /></li>
		</ul>

		<script src="/js/tempcafe.js"></script>

	</div>


</body>
</html>