<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{./layout/layout-main}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CherryPick</title>
</head>

<body>
	<div class="content containter" layout:fragment="content">
	
	<!-- 잘가라는 의미의 사진 추가하면 좋을 듯 해요 -->
	
	
	<div style="display: flex; flex-direction: column; align-items: center; ">
	<img src="/img/goodbye.png" style="width: 300px;">
	<div class="text-large">회원탈퇴가 완료되었습니다.</div>
	
	<div >CherryPick을 이용해주셔서 감사합니다.</div>
	</div>
	
	</div>


</body>
</html>