<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.cherrypick.mapper.BoardMapper" >
	
	<!-- 게시물 목록 가져오기 -->
	<select id="list" resultType="com.pj.cherrypick.domain.BoardVO">
		SELECT bno, title, content, writer, regDate, viewCnt
		FROM cherrypick.tbl_board
	</select>
	
	<!-- 게시물 작성 -->
	<insert id="write" parameterType="com.pj.cherrypick.domain.BoardVO">
		INSERT INTO tbl_board(title, content, writer)
		VALUES(#{title}, #{content}, #{writer})
	</insert>
	
	<!-- 게시물 조회 -->
	<select id="view" parameterType="int" resultType="com.pj.cherrypick.domain.BoardVO">
		SELECT bno, title, content, writer, regDate, viewCnt
		FROM cherrypick.tbl_board
		WHERE bno = #{bno}
	</select>
	
	<!-- 게시물 수정 -->
	<update id="modify" parameterType="com.pj.cherrypick.domain.BoardVO">
		UPDATE tbl_board
		SET title = #{title},
				content = #{content},
				writer = #{writer}
		WHERE bno = #{bno}
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM tbl_board
		WHERE bno = #{bno}
	</delete>
	
	<!-- 게시물 총 갯수 -->
	<select id="count" resultType="int">
		SELECT COUNT(bno)
		FROM tbl_board
	</select>
	
	<!-- 게시물 목록 + 페이징 : 게시물을 10개씩 출력-->
	<select id="listPage" parameterType="hashmap" resultType="com.pj.cherrypick.domain.BoardVO"> <!-- 주의 : 파라메터타입은 hashmap -->
		SELECT bno, title, content, writer, regDate, viewCnt
		FROM tbl_board
		ORDER BY bno DESC
		limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 게시물 목록 + 페이징 : 게시물을 10개씩 출력-->
	<select id="listPageSearch" parameterType="hashmap" resultType="com.pj.cherrypick.domain.BoardVO"> <!-- 주의 : 파라메터타입은 hashmap -->
		SELECT bno, title, content, writer, regDate, viewCnt
		FROM tbl_board
		
		<!-- WHERE title LIKE '%#{keyword}%' : '%'keyword'%'로 인식하므로 문제 발생 => concat 함수로 문자열 합치기-->
		<if test='searchType.equals("title")'>
			WHERE title LIKE concat('%', #{keyword}, '%')
		</if>
		
		<if test='searchType.equals("content")'>
		WHERE content LIKE concat('%', #{keyword}, '%')
		</if>
		
		<if test='searchType.equals("title_content")'>
		WHERE title LIKE concat('%', #{keyword}, '%')
			or content LIKE concat('%', #{keyword}, '%')
		</if>
		
		<if test='searchType.equals("writer")'>
		WHERE writer LIKE concat('%', #{keyword}, '%')
		</if>
		
		ORDER BY bno DESC
		limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 게시물 총 갯수 + 검색 적용 -->
	<select id="searchCount" parameterType="hashMap" resultType="int">
		SELECT count(bno) FROM tbl_board
		
		<if test='searchType.equals("title")'>
			WHERE title LIKE concat('%', #{keyword}, '%')
		</if>
		
		<if test='searchType.equals("content")'>
		WHERE content LIKE concat('%', #{keyword}, '%')
		</if>
		
		<if test='searchType.equals("title_content")'>
		WHERE title LIKE concat('%', #{keyword}, '%')
			or content LIKE concat('%', #{keyword}, '%')
		</if>
		
		<if test='searchType.equals("writer")'>
		WHERE writer LIKE concat('%', #{keyword}, '%')
		</if>
	</select>
	
</mapper>