<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.cherrypick.mapper.AdminMapper" >

	<!-- 1. 일반 회원 관리 -->
	<!-- 회원 목록 가져오기 -->
	<select id="list" resultType="com.pj.cherrypick.domain.MemberVO">
		SELECT username, password, name, phone, email, role
		FROM cherrypick.member
	</select>
	
	<!-- 회원 삭제 -->
	<delete id="delete" parameterType="String">
		DELETE FROM member
		WHERE username = #{username}
	</delete>
	
	<!-- 회원 수 -->
	<select id="count" resultType="int">
		SELECT COUNT(username)
		FROM cherrypick.member
	</select>
	
	<!-- 회원 수 -->
	<select id="searchCount" resultType="int">
		SELECT COUNT(username)
		FROM cherrypick.member
		
		<if test="searchType.equals('id')">
			WHERE username LIKE CONCAT('%', #{keyword}, '%');
		</if>
		
		<if test="searchType.equals('name')">
			WHERE name LIKE CONCAT('%', #{keyword}, '%');
		</if>
		
		<if test="searchType.equals('phone')">
			WHERE phone LIKE CONCAT('%', #{keyword}, '%'); 
		</if>
		
	</select>
	
	<!-- 리스트 목록 + 페이징 : 레코드를 10개씩 출력-->
	<select id="listPage" parameterType="hashmap" resultType="com.pj.cherrypick.domain.MemberVO"> <!-- 주의 : 파라메터타입은 hashmap -->
		SELECT username, password, name, phone, email, role
		FROM cherrypick.member
		ORDER BY username ASC
		limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 리스트 목록 + 페이징 + 검색 : 레코드를 10개씩 출력, 아이디순 정렬-->
	<select id="listPageSearch" parameterType="hashmap" resultType="com.pj.cherrypick.domain.MemberVO"> <!-- 주의 : 파라메터타입은 hashmap -->
		SELECT username, password, name, phone, email, role
		FROM cherrypick.member
		
		<if test="searchType.equals('id')">
			WHERE username LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		<if test="searchType.equals('name')">
			WHERE name LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		<if test="searchType.equals('phone')">
			WHERE phone LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		ORDER BY username ASC
		limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 리스트 목록 + 페이징 + 검색 : 레코드를 10개씩 출력, 가입일자순 정렬-->
	<select id="listPageSearchOrderByRegDate" parameterType="hashmap" resultType="com.pj.cherrypick.domain.MemberVO"> <!-- 주의 : 파라메터타입은 hashmap -->
		SELECT username, password, name, phone, email, role
		FROM cherrypick.member
		
		<if test="searchType.equals('id')">
			WHERE username LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		<if test="searchType.equals('name')">
			WHERE name LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		<if test="searchType.equals('phone')">
			WHERE phone LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		ORDER BY regDate DESC
		limit #{displayPost}, #{postNum}
	</select>
	
 	<!-- 2. 사업자 회원 관리 -->
 	<!-- 승인 회원 목록 가져오기 -->
	<select id="bAuthList" resultType="com.pj.cherrypick.domain.BizMemberVO">
		SELECT bid, bpwd, bname, bstat, bphone, bemail
		FROM cherrypick.bizMember
		WHERE bstat = 1
	</select>
	
	<!-- 사업자 회원 삭제 -->
	<delete id="bDelete" parameterType="String">
		DELETE FROM bizMember
		WHERE bid = #{bid}
	</delete>
	
	<!-- 사업자 회원 수 -->
	<select id="bAuthCount" parameterType="int" resultType="int">
		SELECT count(if(bstat = #{bstat}, bstat, null)) FROM bizMember;
	</select>
	
	<!-- 사업자 회원 수 -->
	<select id="bAuthSearchCount" parameterType="int" resultType="int">
		SELECT COUNT(*) 
		FROM bizMember

		<if test='searchType.equals("id")'>
			WHERE bstat = #{bstat} AND bid LIKE concat('%', #{keyword}, '%')
		</if>
		
		<if test='searchType.equals("name")'>
			WHERE bstat = #{bstat} AND bname LIKE concat('%', #{keyword}, '%')
		</if>
		
		<if test='searchType.equals("phone")'>
			WHERE bstat = #{bstat} AND bphone LIKE concat('%', #{keyword}, '%')
		</if>
	
	</select>
	
	
	<!-- 미승인 회원 목록 가져오기 -->
	<select id="bUnauthList" resultType="com.pj.cherrypick.domain.BizMemberVO">
		SELECT bid, bpwd, bname, bstat, bphone, bemail
		FROM cherrypick.bizMember
		WHERE bstat = 0
	</select>
	
	<!-- 미승인 사업자 회원 수 -->
	<select id="bUnauthCount" parameterType="int" resultType="int">
		SELECT count(if(bstat = #{bstat}, bstat, null)) FROM bizMember;
	</select>
	
	<!-- 미승인 사업자 회원 수 -->
	<select id="bUnauthSearchCount" parameterType="int" resultType="int">
		SELECT COUNT(*) 
		FROM bizMember
		
		<if test='searchType.equals("id")'>
			WHERE bstat = #{bstat} AND bid LIKE concat('%', #{keyword}, '%')
		</if>
		
		<if test='searchType.equals("name")'>
			WHERE bstat = #{bstat} AND bname LIKE concat('%', #{keyword}, '%')
		</if>
		
		<if test='searchType.equals("phone")'>
			WHERE bstat = #{bstat} AND bphone LIKE concat('%', #{keyword}, '%')
		</if>
		
	</select>
	
	<!-- 승인 사업자 회원 리스트 목록 + 페이징 : 레코드를 10개씩 출력 -->
	<select id="bAuthListPage" parameterType="hashmap" resultType="com.pj.cherrypick.domain.BizMemberVO"> <!-- 주의 : 파라메터타입은 hashmap -->
		SELECT bid, bpwd, bname, bstat, bphone, bemail
		FROM bizMember
		WHERE bstat = #{bstat}
		ORDER BY bid ASC
		limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 승인 사업자 회원 리스트 목록 + 페이징 + 검색 : 레코드를 10개씩 출력 -->
	<select id="bAuthListPageSearch" parameterType="hashmap" resultType="com.pj.cherrypick.domain.BizMemberVO"> <!-- 주의 : 파라메터타입은 hashmap -->
		SELECT bid, bpwd, bname, bstat, bphone, bemail
		FROM bizMember
		
		<if test="searchType.equals('id')">
			WHERE bstat = #{bstat} AND bid LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		<if test="searchType.equals('name')">
			WHERE bstat = #{bstat} AND bname LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		<if test="searchType.equals('phone')">
			WHERE bstat = #{bstat} AND bphone LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		ORDER BY bid ASC
		limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 승인 사업자 회원 리스트 목록 + 페이징 + 검색 : 레코드를 10개씩 출력 : 가입일자 내림차순 정렬 -->
	<select id="bAuthListPageSearchOrderByRegDate" parameterType="hashmap" resultType="com.pj.cherrypick.domain.BizMemberVO"> <!-- 주의 : 파라메터타입은 hashmap -->
		SELECT bid, bpwd, bname, bstat, bphone, bemail
		FROM bizMember
		
		<if test="searchType.equals('id')">
			WHERE bstat = #{bstat} AND bid LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		<if test="searchType.equals('name')">
			WHERE bstat = #{bstat} AND bname LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		<if test="searchType.equals('phone')">
			WHERE bstat = #{bstat} AND bphone LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		ORDER BY regDate DESC
		limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 미승인 사업자 회원 리스트 목록 + 페이징 : 레코드를 10개씩 출력 -->
	<select id="bUnauthListPage" parameterType="hashmap" resultType="com.pj.cherrypick.domain.BizMemberVO"> <!-- 주의 : 파라메터타입은 hashmap -->
		SELECT bid, bpwd, bname, bstat, bphone, bemail
		FROM bizMember
		WHERE bstat = #{bstat}
		ORDER BY bid ASC
		limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 미승인 사업자 회원 리스트 목록 + 페이징 + 검색 : 레코드를 10개씩 출력 -->
	<select id="bUnauthListPageSearch" parameterType="hashmap" resultType="com.pj.cherrypick.domain.BizMemberVO"> <!-- 주의 : 파라메터타입은 hashmap -->
		SELECT bid, bpwd, bname, bstat, bphone, bemail
		FROM bizMember
		
		<if test="searchType.equals('id')">
			WHERE bstat = #{bstat} AND bid LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		<if test="searchType.equals('name')">
			WHERE bstat = #{bstat} AND bname LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		<if test="searchType.equals('phone')">
			WHERE bstat = #{bstat} AND bphone LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		ORDER BY bid ASC
		limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 미승인 사업자 회원 리스트 목록 + 페이징 + 검색 : 레코드를 10개씩 출력, 가입일자 내림차순 정렬-->
	<select id="bUnauthListPageSearchOrderByRegDate" parameterType="hashmap" resultType="com.pj.cherrypick.domain.BizMemberVO"> <!-- 주의 : 파라메터타입은 hashmap -->
		SELECT bid, bpwd, bname, bstat, bphone, bemail
		FROM bizMember
		
		<if test="searchType.equals('id')">
			WHERE bstat = #{bstat} AND bid LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		<if test="searchType.equals('name')">
			WHERE bstat = #{bstat} AND bname LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		<if test="searchType.equals('phone')">
			WHERE bstat = #{bstat} AND bphone LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		ORDER BY regDate DESC
		limit #{displayPost}, #{postNum}
	</select>
	
	
	<!-- 사업장 관리 : 취합 후 CafeMapper 로 옮기기!-->
	<!-- 사업장 리스트 -->
	<select id="cafeList" resultType="com.pj.cherrypick.domain.CafeVO">
		SELECT cno, bid, cname, c_lat, c_long, cimage, caddress, cphone, copen, cclose, parking, pet, kids, seats <!-- group, ctag, cmenu_img -->
		FROM cherrypick.cafe
	</select>
	
	<!-- 사업장 리스트 목록 + 페이징 : 레코드를 10개씩 출력 -->
	<select id="cafeListPage" parameterType="hashmap" resultType="com.pj.cherrypick.domain.CafeVO">
		SELECT cno, bid, cname, c_lat, c_long, cimage, caddress, cphone, copen, cclose, parking, pet, kids, seats <!-- group, ctag, cmenu_img -->
		FROM cafe
		ORDER BY cno ASC
		limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 사업장 리스트 목록 + 페이징 + 검색 : 레코드를 10개씩 출력 -->
	<select id="cafeListPageSearch" parameterType="hashmap" resultType="com.pj.cherrypick.domain.CafeVO">
		SELECT cno, bid, cname, c_lat, c_long, cimage, caddress, cphone, copen, cclose, parking, pet, kids, seats <!-- group, ctag, cmenu_img -->
		FROM cafe
		
		<if test='searchType.equals("cname")'>
			WHERE cname LIKE concat('%', #{keyword}, '%')
		</if>
		
		<if test='searchType.equals("cphone")'>
			WHERE cphone LIKE concat('%', #{keyword}, '%')
		</if>
		
		ORDER BY cno ASC
		limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 사업장 총 갯수 -->
	<select id="cCount" resultType="int">
		SELECT COUNT(cno)
		FROM cafe
	</select>
	
	<!-- 사업장 총 갯수 -->
	<select id="cSearchCount" resultType="int">
		SELECT COUNT(cno)
		FROM cafe
		
		<if test='searchType.equals("cname")'>
			WHERE cname LIKE concat('%', #{keyword}, '%')
		</if>
		
		<if test='searchType.equals("cphone")'>
			WHERE cphone LIKE concat('%', #{keyword}, '%')
		</if>

	</select>
	
	
	
	
	
	
	
	<!-- 리뷰관리 -->
	<!-- 조인용 -->
	<resultMap type="com.pj.cherrypick.domain.HeartVO" id="HeartVO">
		<result column="hno" property="hno" />
		<result column="rno" property="rno" />
		<result column="username" property="username" />
	</resultMap>
	
	<!-- 조인용 -->
	<resultMap type="com.pj.cherrypick.domain.CafeVO" id="CafeVO">
		<result column="cno" property="cno" />
		<result column="bid" property="bid" />
		<result column="cname" property="cname" />
		<result column="c_lat" property="c_lat" />
		<result column="c_long" property="c_long" />
		<result column="cimage" property="cimage" />
		<result column="caddress" property="caddress" />
		<result column="cphone" property="cphone" />
		<result column="copen" property="copen" />
		<result column="cclose" property="cclose" />
		<result column="parking" property="parking" />
		<result column="pet" property="pet" />
		<result column="kids" property="kids" />
		<result column="seats" property="seats" />
		<result column="cmenu_img" property="cmenu_img" />
	</resultMap>
	
	<!-- 조인용 -->
	<resultMap type="com.pj.cherrypick.domain.MemberVO" id="MemberVO">
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="phone" property="phone" />
		<result column="email" property="email" />
		<result column="role" property="role" />
	</resultMap>
	
	<!-- 조인용 -->
	<resultMap type="com.pj.cherrypick.domain.ReviewVO" id="ReviewVO">
		<result column="rno" property="rno" />
		<result column="username" property="username" />
		<result column="cno" property="cno" />
		<result column="date" property="date" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="score" property="score" />
		<result column="waiting" property="waiting" />	
		<collection property="HeartVO" resultMap="HeartVO" />
		<collection property="CafeVO" resultMap="CafeVO" />
		<collection property="MemberVO" resultMap="MemberVO" />
	</resultMap>
	
	<!-- 조인해서 사업장별 리뷰와 관련 정보 가져오기 -->
	<select id="getReviewList" resultMap="ReviewVO" parameterType="hashmap">  <!-- 주의 : 파라메터타입은 hashmap -->
		SELECT r.*, c.*, m.*, h.*
		FROM review r
		LEFT JOIN cafe c
		ON r.cno = c.cno
		LEFT JOIN member m
		ON r.username = m.username
		LEFT JOIN heart h
		ON r.rno = h.rno
		WHERE r.cno= #{cno}
		ORDER BY r.date DESC
		LIMIT #{displayPost}, #{postNum}
	</select>

	<!-- 리뷰 총 갯수 -->
	<select id="rCount" parameterType="int" resultType="int">
		SELECT count(if(cno = #{cno}, cno, null)) FROM review;
	</select>
	
	<!-- 사업장별 리뷰에서 사업장 정보 가져오기 -->
	<select id="getCafeInfo" parameterType="int" resultType="com.pj.cherrypick.domain.CafeVO" >
		SELECT *
		FROM cafe
		WHERE cno = #{cno}
	</select>
	
	<!-- 특정 사업장 리뷰 1개 상세보기 -->
	<select id="getOneReview"  resultType="com.pj.cherrypick.domain.ReviewVO" >
		SELECT *
		FROM review
		WHERE rno = #{rno}
	</select>
	
</mapper>
