<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace의 값은, MemberMapper.xml의 쿼리를 호출할 Mapper Class의 경로와 클래스명으로 하도록 해야한다. -->
<mapper namespace="com.pj.cherrypick.mapper.BizMemberMapper" >
    
	<!-- Mapper 인터페이스의 메소드명과 XML의 id가 같아야 함 -->
 	<select id="getBMList" resultType="com.pj.cherrypick.domain.BizMemberVO">
        SELECT * FROM bizMember
    </select>
    
    <insert id="signUp" parameterType="com.pj.cherrypick.domain.BizMemberVO">
    	   	INSERT INTO bizMember (bid, bpwd, bname, bstat, bphone, bemail) VALUES (#{bid}, #{bpwd}, #{bname}, #{bstat}, #{bphone}, #{bemail})
    </insert>
    
    <select id="findByBid" resultType="com.pj.cherrypick.domain.BizMemberVO">
    	SELECT * FROM bizMember WHERE bid = #{bid}
    </select>
    
    <select id="findBid" resultType="String">
    	SELECT bid FROM bizMember WHERE bname = #{bname} AND bemail = #{bemail}
    </select>
    
    <select id="findBpwdCheck" resultType="int">
		SELECT COUNT(*) FROM bizMember WHERE bid = #{bid} AND bemail = #{bemail}
	</select>
    
    <update id="updateBpwd"  parameterType="com.pj.cherrypick.domain.BizMemberVO">
		UPDATE bizMember SET bpwd = #{bpwd} WHERE bid = #{bid} AND bemail = #{bemail}
	</update>
	
	<select id="findDupBid" resultType="int">
		SELECT COUNT(*) FROM bizMember WHERE bid = #{bid}
	</select>
	
	<update id="updateBMember"  parameterType="com.pj.cherrypick.domain.BizMemberVO">
		UPDATE bizMember SET bpwd = #{bpwd}, bid = #{bid}, bphone = #{bphone}, bemail = #{bemail} 
		WHERE bid = #{bid}
	</update>
	
	<update id="updateBMemberWithoutPwd"  parameterType="com.pj.cherrypick.domain.BizMemberVO">
		UPDATE bizMember SET bname = #{bname}, bphone = #{bphone}, bemail = #{bemail} 
		WHERE bid = #{bid}
	</update>
	
	<select id="signIn" resultType="com.pj.cherrypick.domain.BizMemberVO">
    	SELECT * FROM bizMember WHERE bid = #{bid} AND bpwd = #{bpwd}
    </select>
    
</mapper>