<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.pj.cherrypick.mapper.BookmarkMapper" >

	
	<!-- username으로 카페(cno) 북마크 여부 확인-->
 	<select id="checkCafeBmk" resultType="com.pj.cherrypick.domain.BookmarkVO">
		SELECT IF(COUNT(*) = 1, true, false) as chk
		FROM bmk_cafe b
		LEFT JOIN member m
		ON b.username = m.username
		LEFT JOIN cafe c
		ON b.cno = c.cno
		WHERE b.username = #{username} AND c.cno = #{cno}
    </select> 
    
	<!-- username으로 카페(cno) 북마크 여부 확인-->
 	<select id="checkCafeBmkAll" resultType="com.pj.cherrypick.domain.BookmarkVO">
		SELECT IF(COUNT(*) = 1, true, false) as chk
		FROM bmk_cafe b
		LEFT JOIN member m
		ON b.username = m.username
		LEFT JOIN cafe c
		ON b.cno = c.cno
		WHERE b.username = #{username} AND c.cno = #{cno}
    </select>    
    
  	<!--  카페 북마크 추가 -->
	<insert id="addBmkc" parameterType="hashmap">
		INSERT INTO bmk_cafe(username, cno)
		VALUES( #{username}, #{cno})
	</insert>
	<!--  카페 북마크 삭제 -->
	<delete id="delBmkc" parameterType="hashmap">
		DELETE FROM bmk_cafe 
		WHERE username = #{username} AND cno = #{cno}
	</delete>

	<!-- username으로 리스트(lino) 북마크 여부 확인-->
 	<select id="checkListBmk" resultType="com.pj.cherrypick.domain.BookmarkVO">
		SELECT IF(COUNT(*) = 1, true, false) as chk
		FROM bmk_list b
		LEFT JOIN member m
		ON b.username = m.username
		LEFT JOIN list l
		ON b.lino = l.lino
		WHERE b.username = #{username} AND l.lino = #{lino}
    </select> 

  	<!--  리스트 북마크 추가 -->
	<insert id="addBmkli" parameterType="hashmap">
		INSERT INTO bmk_list(username, lino)
		VALUES( #{username}, #{lino})
	</insert>
	<!--  리스트 북마크 삭제 -->
	<delete id="delBmkli" parameterType="hashmap">
		DELETE FROM bmk_list 
		WHERE username = #{username} AND lino = #{lino}
	</delete>


</mapper>