<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.pj.cherrypick.mapper.CafeMapper" >

	<!-- 전체 카페리스트업 쿼리-->
 	<select id="getCafeAll" parameterType="com.pj.cherrypick.domain.CafeVO" resultType="com.pj.cherrypick.domain.CafeVO">
 		SELECT *
 		FROM cafe c
 		LEFT JOIN review r 
 		ON c.cno = r.cno
    </select> 
    <!-- cno로 카페정보 호출-->
 	<select id="getCafeInfo" parameterType="int" resultType="com.pj.cherrypick.domain.CafeVO">
        SELECT * FROM cafe WHERE cno = #{cno}
    </select> 
    <!-- cno로 리뷰첫번째 호출 (안씀)-->
    <select id="getFirstReview" parameterType="com.pj.cherrypick.domain.ReviewVO" resultType="com.pj.cherrypick.domain.ReviewVO">
    	SELECT 
    		*
    	FROM
    		review
    	WHERE
    		cno = #{cno}
		LIMIT
			1    		
    </select>
   <!-- lino로 list 출력 -->
   <select id="getEachList" parameterType="int" resultType="com.pj.cherrypick.domain.ListVO">
   		SELECT	 *
		FROM list l
		WHERE lino = #{lino}
   </select>
   <!-- lino로 찾은 list에 포함된 cafe 정보 출력 -->
   <select id="getCafeList" parameterType="int" resultType="com.pj.cherrypick.domain.CafeVO">
		SELECT *
		FROM cafe c
		LEFT JOIN review r
		ON c.cno = r.cno
		LEFT JOIN list l
		ON c.cno = li_cafe1 
		OR c.cno = li_cafe2 
		OR c.cno = li_cafe3 
		OR c.cno = li_cafe4 
		OR c.cno = li_cafe5
		WHERE lino = #{lino}
		GROUP BY c.cno
   </select>
	<!--  cno로 메뉴리스트 불러오기 -->
	<select id="getCafeMenu" parameterType="int" resultType="com.pj.cherrypick.domain.CafeMenuVO">
		SELECT * FROM cafeMenu WHERE cno = #{cno}
	</select>
	<!--  cno로 리뷰리스트 불러오기 -->
	<select id="getReview" parameterType="int" resultType="com.pj.cherrypick.domain.ReviewVO">
		SELECT * FROM review WHERE cno = #{cno}
	</select>
</mapper>