<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.pj.cherrypick.mapper.CafeMapper" >

	<!-- 전체 카페리스트업 쿼리-->
 	<select id="getCafeList" resultType="CafeVO">
        select * from cafe
    </select> 
    
   
    
</mapper>