<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace의 값은, MemberMapper.xml의 쿼리를 호출할 Mapper Class의 경로와 클래스명으로 하도록 해야한다. -->
<mapper namespace="com.pj.cherrypick.mapper.MemberMapper" >

	<!-- Mapper 인터페이스의 메소드명과 XML의 id가 같아야 함 -->
 	<select id="listmap" resultType="com.pj.cherrypick.domain.MemberVO">
        SELECT * FROM member
    </select> 
    
    <insert id="signUp" parameterType="com.pj.cherrypick.domain.MemberVO">
    	INSERT INTO member VALUES (#{username}, #{password}, #{name}, #{phone}, #{email}, #{role})
    </insert>
    
    <select id="findByUsername" resultType="com.pj.cherrypick.domain.MemberVO">
    	SELECT * FROM member WHERE username = #{username}
    </select>
    
</mapper>