<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layout/layout-main}" id="html">

<!-- <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>CherryPick</title>
</head>
<body> -->

<script src="../js/cafe.js" async></script>
<!-- 부트스트랩 클래스 : container, btn, btn-outnline, container, row, col-md-4, ... -->

<div>

    <div class="content container" layout:fragment="content" id="all">
        <div class="item">
            <div class="cflist-label">
                <div>등록된 카페 수: <span th:text="${filter.totalcnt}">카페 수</span>개</div>
                <div class="cflist-sort">

                    <input type="hidden" id="f_park" th:value="${filter.fpark}">
                    <input type="hidden" id="f_pet" th:value="${filter.fpet}">
                    <input type="hidden" id="f_kids" th:value="${filter.fkids}">
                    <input type="hidden" id="f_group" th:value="${filter.fgroup}">
                    <input type="hidden" id="f_sort" th:value="${filter.sort}">
                    <input type="hidden" id="page" th:value="${page}">

                    <!-- Select sorting -->
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sort" id="sort0" value="option1"
                               th:checked="${filter.sort}==0">
                        <label class="form-check-label" for="sort0" checked>최신순</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sort" id="sort1" value="option2"
                               th:checked="${filter.sort}==1">
                        <label class="form-check-label" for="sort1">즐겨찾기순</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sort" id="sort2" value="option3"
                               th:checked="${filter.sort}==2">
                        <label class="form-check-label" for="sort2">별점높은순</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sort" id="sort3" value="option4"
                               th:checked="${filter.sort}==3">
                        <label class="form-check-label" for="sort3">리뷰많은순</label>
                    </div>
                </div>
            </div> <!-- cflist-label end -->
            <hr>
            <!--- Devider -->

            <!-- Cafe Checkbox(=filter) Start -->
            <div class="filter-table">
                <div class="form-check form-switch">
                    <input class="form-check-input" name="filter_park" type="checkbox" role="switch" id="fpark"
                           th:checked="${filter.fpark}==1">
                    <label class="form-check-label" for="fpark">주차 가능</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" name="filter_pet" type="checkbox" role="switch" id="fpet"
                           th:checked="${filter.fpet}==1">
                    <label class="form-check-label" for="fpet">애견동반 가능</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" name="filter_kids" type="checkbox" role="switch" id="fkids"
                           th:checked="${filter.fkids}==1">
                    <label class="form-check-label" for="fkids">유아동반 가능</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" name="filter_group" type="checkbox" role="switch" id="fgroup"
                           th:checked="${filter.fgroup}==1">
                    <label class="form-check-label" for="fgroup">단체석</label>
                </div>
            </div>
            <!-- Cafe Checkbox(=filter) End -->

        </div> <!-- Item End -->

        <!-- CafeList Start -->
        <div class="cflist container">
            <!-- Get cafes with thymeleaf -->
            <div class="cflist-item" th:each="cafe : ${cafes}">
                <div class="cflist-thumb" style="width:150px; height:150px;">
                    <img th:src="@{${'/img/' + cafe.cimage}}" alt="카페썸네일"
                         style="width:150px; height: 150px; object-fit:cover;"/>
                </div>

                <div class="d-flex">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success" th:text="${cafe.cname}">카페이름</strong>

                        <div th:text="${cafe.ctag}">카페 해시태그</div>
                        <div class="mb-1 text-muted" th:text="${cafe.caddress}">부산광역시 경상남도 서울시</div>


                        <div class="cflist-review">
                            <div class="cflist-review-profile"></div>
                            <div>
                                <!-- username for review -->
                                <b th:text="${cafe.username}">username</b>&nbsp;
                                <div>
                                    <!-- title of first review -->
                                    <span th:if="${cafe.title != null}" th:text="${cafe.title}"></span>
                                    <span th:if="${cafe.title == null}">등록된 리뷰가 없습니다.</span>
                                </div>
                            </div>
                        </div>
                        <a class="divBtn" th:id="${cafe.cno}" th:onclick="sendToInfo(this.getAttribute('id'))">더보기</a>

                    </div>
                    <img class="displayNone" id="bmkImg" th:if="${cafe.chk == 0 }" src="/img/bmk-empty.png" height="20">
                    <img class="displayNone" id="bmkImg" th:if="${cafe.chk != 0 }" src="/img/bmk.png" height="20">
                    <input type="hidden" name="bmk-list" id="bmk_check" th:if="${cafe.chk == 0}" th:value="0">
                    <input type="hidden" name="bmk-list" id="bmk_check" th:if="${cafe.chk != 0}" th:value="1">

                </div>

                <!--send this info to cafe.js -->
                <input id="username" type="hidden" th:value="${username}">
                <input id="cno" type="hidden" th:value="${cafe.cno}">


            </div> <!-- CafeList end -->

            <!-- pagination -->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <!-- 처음으로 '<<' -->
                    <li class="page-item" th:if="${page > 1}">
                        <a class="page-link" th:href="@{/cafe/all(page=1, sort=${filter.sort}, fpark=${filter.fpark}, fgroup=${filter.fgroup}, fpet=${filter.fpet}, fkids=${filter.fkids})}" aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <!-- 이전으로 '<' -->
                    <li class="page-item" th:if="${page > 1}">
                        <a class="page-link" th:href="@{/cafe/all(page=${page - 1}, sort=${filter.sort}, fpark=${filter.fpark}, fgroup=${filter.fgroup}, fpet=${filter.fpet}, fkids=${filter.fkids})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <!-- 페이지 번호 출력 -->
                    <th:block th:each="pageNum : ${#numbers.sequence(startPage, endPage)}">
                        <li class="page-item" th:class="${page == pageNum} ? 'page-item active' : 'page-item'">
                            <a class="page-link" th:href="@{/cafe/all(page=${pageNum}, sort=${filter.sort}, fpark=${filter.fpark}, fgroup=${filter.fgroup}, fpet=${filter.fpet}, fkids=${filter.fkids})}" th:text="${pageNum}"></a>
                        </li>
                    </th:block>

                    <!-- 다음으로 '>' -->
                    <li class="page-item" th:if="${page < totalPages}">
                        <a class="page-link" th:href="@{/cafe/all(page=${page + 1}, sort=${filter.sort}, fpark=${filter.fpark}, fgroup=${filter.fgroup}, fpet=${filter.fpet}, fkids=${filter.fkids})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>

                    <!-- 맨 끝으로 '>>' -->
                    <li class="page-item" th:if="${page < totalPages}">
                        <a class="page-link" th:href="@{/cafe/all(page=${totalPages}, sort=${filter.sort}, fpark=${filter.fpark}, fgroup=${filter.fgroup}, fpet=${filter.fpet}, fkids=${filter.fkids})}" aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>






        </div> <!-- cflist-container end -->

        <div class="sharebar input-group mb-3">
            <input type="text" value="https://sampletext.com">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">공유하기</button>
        </div>

        <!--Map Start-->
        <div id="map" style="width:80%;height:350px;"></div>
        <!-- 지도 출력 스크립트 (타임리프 변수를 사용하기 때문에 외부 js파일로 못 뺌 ㅠ) -->
        <script th:inline="javascript">

            /*<![CDATA[*/

            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(35.15306, 129.06623), // 지도의 중심좌표 (전포역)
                    level: 3 // 지도의 확대 레벨
                };

            // 지도생성
            var map = new kakao.maps.Map(mapContainer, mapOption);

            // 카페 데이터 배열
            var cafes = /*[[${cafes}]]*/ [];

            // 주소-좌표 변환 객체를 생성합니다
            var geocoder = new kakao.maps.services.Geocoder();

            cafes.forEach(function(cafe) {
                geocoder.addressSearch(cafe.caddress, function(result, status) {
                    if (status === kakao.maps.services.Status.OK) {
                        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                        // 결과값으로 받은 위치를 마커로 표시합니다
                        var marker = new kakao.maps.Marker({
                            map: map,
                            position: coords
                        });

                        map.setCenter(coords);
                    }
                });
            });

            // 지도에 마커를 표시하는 함수입니다
            function displayMarker(place, cafe) {
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: new kakao.maps.LatLng(place.y, place.x)
                });

                // 마커에 클릭이벤트를 등록합니다
                kakao.maps.event.addListener(marker, 'click', function() {
                    var infowindow = new kakao.maps.InfoWindow({zIndex:1});
                    infowindow.setContent('<div style="padding:5px;font-size:12px;">' + cafe.cname + '</div>');
                    infowindow.open(map, marker);
                });
            }


            /*]]>*/
        </script>
        <!--지도 영역 끝 -->

    </div>
</div>


<!-- </body> -->

</html>










